@use '@navikt/ds-tokens/dist/tokens' as *;

.container {
  max-width: 1280px;
  margin: 0 auto;
}

.contentContainer {
  grid-template-areas: 'box1 box2';
  justify-content: space-between;

  @media (max-width: $a-breakpoint-md) {
    grid-template-areas:
      'box2'
      'box1';
  }
}
