.categoryCard {
  padding: var(--a-spacing-2);
  border: 1px solid var(--a-grayalpha-100);
  border-radius: var(--a-border-radius-large);
  //background-color: var(--a-bg-default);
  //color: var(--a-text-default);
  //text-decoration: none;
}
