.categoryCard {
  padding: var(--ax-space-8);
  border: 1px solid var(--ax-neutral-200A);
  border-radius: var(--ax-radius-8);
  //background-color: var(--ax-bg-default);
  //color: var(--ax-text-neutral);
  //text-decoration: none;
}
