.dragged {
  //list-style-type: none;
  //width: 10rem;
  //height: 15rem;
  //position: relative;
  //box-shadow: $a-shadow-xsmall;
  //border-radius: $a-border-radius-medium;
  //text-align: center;
  background-color: gray;
}

.sortableList {
  user-select: none;
}
