@use '@navikt/ds-tokens/dist/tokens' as *;

.filterButton {
  --ac-button-border-radius: var(--ax-radius-full);

  --ac-button-secondary-bg: white;
  --ac-button-secondary-text: var(--ax-text-danger-subtle);

  --ac-button-secondary-hover-bg: var(--ax-bg-danger-moderate-hover);
  --ac-button-secondary-hover-text: white;

  box-shadow: inset 0 0 0 1px var(--ax-bg-danger-strong);

  span {
    font-weight: normal;
  }

  &:hover {
    box-shadow: inset 0 0 0 1px var(--a-border-danger-hover);
  }
}
