@use 'src/styles/_mixins';
@use '@navikt/ds-tokens/dist/tokens' as *;

.compare-page {
  width: 100%;

  .compare-table-container {
    @include mixins.for-size(tablet-up) {
      .navds-table {
        width: auto;
        min-width: 50%;
      }
    }

    tbody .navds-table__row--shade-on-hover:hover th {
      background-color: $ax-bg-neutral-soft;
    }

    table {
      border-collapse: separate;
      border-spacing: 0;
    }

    th {
      background: white;
    }

    tbody th {
      background-color: inherit;
      border-right: 2px solid$ax-bg-neutral-soft;
      white-space: nowrap;
      text-align: right;
      font-weight: 600;
    }

    tr:nth-child(2n) th {
      background-color: white;
    }

    .header {
      top: 0;
      position: sticky;
      z-index: 10;
    }

    .side_header {
      position: sticky;
      left: 0;
      z-index: 20;
    }

    .common_headercell {
      top: 0;
      left: 0;
      position: sticky;
      z-index: 30;
    }
  }

  /*.back-to-search {
    text-decoration: none;
    display: flex;
    align-items: center;
    gap:$ax-space-12;
    color:$ax-text-neutral;
    padding:$ax-space-12$ax-space-4;
    border-radius:$ax-radius-2;
    border: 1px solid$ax-border-neutral;
    box-shadow: $a-shadow-small;

    &:hover {
      text-decoration: underline;
      color:$ax-text-accent-subtle;
      box-shadow: $a-shadow-medium;
    }
  }*/
}
