@use '@navikt/ds-tokens/dist/tokens' as *;

.bleedButton {
  background-color: white;
  width: fit-content;

  &:hover {
    background-color: $ax-bg-accent-moderate-hover;
  }

  &:active {
    background-color: $ax-bg-accent-moderate-pressed;
  }
}

.divider {
  border-bottom: 1px solid var(--ax-bg-neutral-soft);
  width: 100%;
  margin-bottom: var(--ax-space-8);
}
