@use 'src/styles/mixins';

@import '@navikt/ds-tokens/dist/tokens';

.agreement-page {
  background-color: #faefee;

  &__content {
    display: flex;
    flex-direction: column;
    gap: $a-spacing-8;
    padding-top: $a-spacing-4;
    padding-bottom: $a-spacing-4;

    @include mixins.for-size(tablet-up) {
      padding-top: $a-spacing-8;
      padding-bottom: $a-spacing-8;
    }
    @include mixins.for-size(desktop-up) {
      padding: $a-spacing-14 0;
    }
  }

  &__link-to-search {
    margin: $a-spacing-2 0;
    align-self: flex-start;
  }

  article {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    gap: $a-spacing-4;
    padding: $a-spacing-6 $a-spacing-4;
    border-radius: $a-border-radius-large;

    @include mixins.for-size(tablet-up) {
      padding: $a-spacing-10 $a-spacing-12;
    }

    p {
      max-width: 600px;
    }
  }

  &__description {
    display: flex;
    flex-direction: column;
    gap: $a-spacing-2;
  }

  &__list-header {
    p {
      letter-spacing: 0.15em;
      text-transform: uppercase;
      color: $a-text-subtle;
    }
  }

  &__list-container {
    list-style: none;
    margin-block-start: 0;
    padding-inline-start: 0;

    a {
      width: fit-content;
      text-underline-offset: 2px;
    }

    a:active {
      background-color: transparent;
      color: black;
    }

    .navds-alert ul {
      list-style-type: disc;
    }
    .navds-alert .navds-link {
      color: $a-blue-700;
    }
  }

  &__list-item > div {
    height: 5rem;
    @include mixins.for-size(tablet-up) {
      height: 5rem;
      :first-child {
        padding-right: 4px;
      }
    }

    a {
      font-size: 1.25rem;
      line-height: 1.75rem;
      -webkit-text-decoration-line: underline;
      text-decoration-line: underline;
      text-underline-offset: 2px;
    }
  }

  &__list-item {
    border-bottom: 1px solid #e2e8f0;
    padding: $a-spacing-2;

    @include mixins.for-size(tablet-up) {
      padding: 0;
    }
  }

  &__sort-button {
    width: fit-content;
    padding-right: 2px;
  }

  &__sort-selected {
    background-color: $a-surface-action-subtle;
  }
}
