@use 'src/styles/mixins';

@use '@navikt/ds-tokens/dist/tokens' as *;
@use 'src/styles/_variables' as *;

.agreement-page {
  background-color: #faefee;

  &__heading {
    max-width: 790px;
    color: $ny-nav-purple-dark;
  }

  &__post-heading {
    @include mixins.for-size(phone-up) {
      font-size: 1.5rem;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap:$ax-space-32;
    padding-top:$ax-space-16;
    padding-bottom:$ax-space-16;

    @include mixins.for-size(tablet-up) {
      padding-top:$ax-space-32;
      padding-bottom:$ax-space-32;
    }
    @include mixins.for-size(desktop-up) {
      padding:$ax-space-56 0;
    }
  }

  &__link-to-search {
    margin:$ax-space-8 0;
    align-self: flex-start;
  }

  article {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    gap:$ax-space-16;
    padding:$ax-space-24$ax-space-16;
    border-radius:$ax-radius-8;

    @include mixins.for-size(tablet-up) {
      padding:$ax-space-40$ax-space-48;
    }

    p {
      max-width: 600px;
    }
  }

  &__description {
    display: flex;
    flex-direction: column;
    gap:$ax-space-8;
  }

  &__list-header {
    p {
      letter-spacing: 0.15em;
      text-transform: uppercase;
      color:$ax-text-neutral-subtle;
    }
  }

  &__list-container {
    list-style: none;
    margin-block-start: 0;
    padding-inline-start: 0;

    a {
      width: fit-content;
      text-underline-offset: 2px;
    }

    a:active {
      background-color: transparent;
      color: black;
    }

    .navds-alert ul {
      list-style-type: disc;
    }
  }

  &__alert-info {
    .navds-link {
      color:$ax-accent-800;
    }
  }

  &__list-item > div {
    height: 5rem;
    @include mixins.for-size(tablet-up) {
      height: 5rem;
      :first-child {
        padding-right: 4px;
      }
    }

    a {
      // font-size: 1.25rem;
      line-height: 1.75rem;
      -webkit-text-decoration-line: underline;
      text-decoration-line: underline;
      text-underline-offset: 4px;
    }
  }

  &__list-item {
    border-bottom: 1px solid #e2e8f0;
    padding:$ax-space-8;

    @include mixins.for-size(tablet-up) {
      padding: 0;
    }
  }

  &__sort-button {
    width: fit-content;
    padding-right: 2px;
  }

  &__sort-selected {
    background-color:$ax-bg-accent-soft;
  }

  &__filter-form {
    .filter-container__horizontal {
      .checkbox-filter,
      .input-filter {
        @include mixins.for-size(desktop-up) {
          width: 270px !important;
        }
      }
    }
  }
}
.button-with-thin-border,
.hurtigoversikt-toggle > div {
  box-shadow: inset 0 0 0 1px$ax-border-neutral-strong;
}

.hurtigoversikt-toggle {
  &__container {
    @include mixins.for-size(phone-only) {
      width: 100%;
    }
  }
}
