@use '@navikt/ds-tokens/dist/tokens' as *;

.bleedButton {
  background-color: white;
  width: fit-content;
}

.divider {
  border-bottom: 1px solid var(--a-bg-subtle);
  width: 100%;
  margin-bottom: var(--a-spacing-2);
}
