@use '@navikt/ds-tokens/dist/tokens' as *;

.bleedButton {
  width: fit-content;
}

.divider {
  border-bottom: 1px solid var(--ax-bg-neutral-soft);
  width: 100%;
  margin-bottom: var(--ax-space-8);
}
