@use 'src/styles/_variables' as *;

.modalContainer {
  align-self: center;
}

.newsCard {
  background: $ny-nav-orange-light;
  display: flex;
  max-width: 390px;
  min-height: 245px;
  height: fit-content;
  border-top: 6px solid $ny-nav-purple-dark;
  border-radius: 0 0 8px 8px;
}
