{
  "printWidth": 120,
  "semi": false,
  "singleQuote": true,
  "arrowParens": "always",
  "trailingComma": "es5",
  "endOfLine": "auto",
  "tabWidth": 2,
  "importOrder": [
    "^react",
    "^next",
    "^@?\\w",

    "^(@|components)(/.*|$)",

    "^\\u0000",

    "^\\.\\.(?!/?$)",
    "^\\.\\./?$",

    "^\\./(?=.*/)(?!/?$)",
    "^\\.(?!/?$)",
    "^\\./?$",

    "^.+\\.?(css)$"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
