@use 'src/styles/mixins';

@import '@navikt/ds-tokens/dist/tokens';

.suppliers-page {
  background-color: #faefee;

  &__content {
    display: flex;
    flex-direction: column;
    gap: $a-spacing-8;
    padding-top: $a-spacing-4;
    padding-bottom: $a-spacing-4;

    @include mixins.for-size(tablet-up) {
      padding-top: $a-spacing-8;
      padding-bottom: $a-spacing-8;
    }
    @include mixins.for-size(desktop-up) {
      padding: $a-spacing-14 0;
    }
  }

  &__link-to-search {
    margin: $a-spacing-2 0;
    align-self: flex-start;
  }

  article {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    gap: $a-spacing-4;
    padding: $a-spacing-6 $a-spacing-4;
    border-radius: $a-border-radius-large;

    @include mixins.for-size(tablet-up) {
      padding: $a-spacing-10 $a-spacing-12;
    }

    p {
      max-width: 600px;
    }
  }

  &__letter {
    a {
      border: 2px solid $a-deepblue-600;
      border-radius: 5px;
      background-color: $a-deepblue-600;
      padding: 5px 10px;
      font-size: 1.5rem;
      margin-left: 5px;
      color: $a-white;
      text-decoration: none;
    }
  }

  &__letter-disabled {
    a {
      pointer-events: none;
      border: 2px solid $a-gray-400;
      border-radius: 5px;
      background-color: $a-gray-400;
      padding: 5px 10px;
      font-size: 1.5rem;
      margin-left: 5px;
      color: $a-white;
      text-decoration: none;
    }
  }

  &__description {
    display: flex;
    flex-direction: column;
    gap: $a-spacing-2;
  }

  &__list-header {
    p {
      letter-spacing: 0.15em;
      text-transform: uppercase;
      color: $a-text-subtle;
    }
  }

  &__list-container {
    padding-top: $a-spacing-8;
    list-style: none;
    margin-block-start: 0;
    padding-inline-start: 0;

    li > div {
      @include mixins.for-size(tablet-up) {
        margin: $a-spacing-4;
      }
    }

    a {
      width: fit-content;
      text-underline-offset: 2px;
    }

    a:active {
      background-color: transparent;
      color: black;
    }
  }
}
