@use 'src/styles/mixins';

@use '@navikt/ds-tokens/dist/tokens' as *;

.suppliersPage {
  background-color: #faefee;

  .pageContent {
    background-color: #fff;
  }
}

.letter {
  a {
    border: 2px solid$ax-brand-blue-700;
    border-radius: 5px;
    background-color: $ax-brand-blue-700;
    padding: 5px 10px;
    font-size: 1.5rem;
    margin-left: 5px;
    color: white;
    text-decoration: none;
  }
}

.letterDisabled {
  a {
    pointer-events: none;
    border: 2px solid$ax-neutral-500;
    border-radius: 5px;
    background-color: $ax-neutral-500;
    padding: 5px 10px;
    font-size: 1.5rem;
    margin-left: 5px;
    color: white;
    text-decoration: none;
  }
}
