@use '@navikt/ds-tokens/dist/tokens' as *;

.container {
  position: relative;
  border-radius: 0.5rem;
  border: 1px solid $a-border-default;
  background-color: white;

  &:hover {
    outline: 1px solid $a-border-action;
  }
}

.imageWrapper {
  position: relative;
  height: 180px;
}

.link {
  color: $a-text-default;
  text-decoration: underline;

  &:hover,
  &:focus {
    text-decoration: underline;
    color: $a-text-action;
    background-color: white;
  }

  &::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
  }
}

.compareButton {
  z-index: 2;
  box-shadow: inset 0 0 0 1px $a-border-default;
  color: $a-icon-subtle;

  &:active {
    background-color: $a-surface-action-selected-hover;
  }
}
.compareButtonChecked {
  color: #fff;
  background-color: $a-surface-action-selected-hover;
  box-shadow: none;

  &:hover,
  &:active {
    background-color: $a-surface-action-selected-hover;
  }
}
