@use '../../styles/_mixins';
@use '@navikt/ds-tokens/dist/tokens' as *;

.definitionList {
  display: grid;
  grid-template-columns: 1fr;
  margin: 0;

  dt {
    font-weight: bold;
    text-align: left;
    padding-top: $a-spacing-3;
  }

  dd {
    margin-left: 0;
    padding-top: 0;
    padding-top: $a-spacing-1;
  }

  @include mixins.for-size(tablet-up) {
    dt {
      padding-top: $a-spacing-5;
    }
  }

  dt:first-child {
    padding-top: 0;
  }
}

.definitionListHorizontal {
  @include mixins.for-size(tablet-up) {
    grid-template-columns: minmax(auto, max-content) auto;
    row-gap: $a-spacing-1;
    column-gap: $a-spacing-6;

    dd,
    dt {
      padding-top: $a-spacing-2;
    }
  }

  dt:first-child {
    padding-top: $a-spacing-2;
  }
}
