@use '@navikt/ds-tokens/dist/tokens' as *;

.container {
  border: 1px solid $a-gray-300;
  border-radius: $a-border-radius-medium;
  background-color: $a-surface-default;
  width: 900px;
}

// Only remove the top border when a container directly follows another non-original container
.container:not(.original) + .container {
  border-top: 0;
}

.imageWrapper {
  width: 75px;
  height: 75px;
  position: relative;
}

.agreementTag {
  background-color: #ccf1d67a;
  border-radius: 0.25rem;
  border: 1px solid #99dead7a;
  font-size: $a-font-size-medium;
  padding: $a-spacing-1-alt $a-spacing-2;
}

.deleteButton {
  width: fit-content;
  justify-self: center;
}

.link {
  color: black;
  font-weight: 600;
}

.original {
  position: relative;
  margin-bottom: 1rem; // extra space before the next item

  &::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -1.1rem; // match margin-bottom so line reaches into the gap
    transform: translateX(-50%);
    width: 2px;
    height: 1.1rem;
    background-color: $a-border-strong;
    background-color: $a-gray-300;
  }
}
