@use '@navikt/ds-tokens/dist/tokens' as *;

.container {
  border: 1px solid$ax-neutral-400;
  border-radius:$ax-radius-4;
  background-color:$ax-bg-default;
  width: 900px;
}

.containerDotted {
  border: 2px dashed$ax-border-neutral-strong;
  border-radius:$ax-radius-4;
  background-color:$ax-bg-neutral-soft;
  width: 900px;
}

.copyButton {
  border: 1px dashed$ax-bg-accent-strong;
}


// Only remove the top border when a container directly follows another non-original container
.container:not(.original) + .container {
  border-top: 0;
}

.imageWrapper {
  width: 75px;
  height: 75px;
  position: relative;
}

.agreementTag {
  background-color: #ccf1d67a;
  border-radius: 0.25rem;
  border: 1px solid #99dead7a;
  font-size:$ax-font-size-medium;
  padding:$ax-space-6$ax-space-8;
}

.deleteButton {
  width: fit-content;
  justify-self: center;
}

.link {
  color: black;
  font-weight: 600;
}

.original {
  position: relative;
  margin-bottom: 1rem; // extra space before the next item

  &::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -1.1rem; // match margin-bottom so line reaches into the gap
    transform: translateX(-50%);
    width: 2px;
    height: 1.1rem;
    background-color:$ax-border-neutral-strong;
    background-color:$ax-neutral-400;
  }
}
