.wrapper {
  background: #f5f9ff;
}

.select {
  padding: 1rem;
}

.chipsRow {
  padding-bottom: 0.5rem;
  --ac-chip-toggle-bg: white;
}

.disabledChip {
  opacity: 0.3;
  --ac-chip-toggle-hover-bg: white;
  --ac-chip-toggle-hover-border: var(--ax-border-neutral-subtle);
}
