@use 'src/styles/_mixins';

@use '@navikt/ds-tokens/dist/tokens' as *;

.statusRow {
  th {
    border-bottom: none;
  }
}

.agreementTag {
  background-color: var(--a-surface-success-subtle);
}

.variantsTable {
  overflow: auto;

  @include mixins.for-size(tablet-up) {
    table {
      width: auto;
      min-width: 50%;
    }
  }

  table {
    border-collapse: separate;
    border-spacing: 0;
  }

  table thead th {
    position: sticky;
    top: 0;
    z-index: 1;
    background: white;
  }

  thead tr > th:first-child {
    background-color: white;
  }

  tr > th:first-child,
  tr > td:first-child {
    position: sticky;
    left: 0;
    width: 250px;
    z-index: 1;
  }

  //Need to set background on every second to white to avoid the header to be transparent
  tr:nth-child(2n) th {
    background-color: white;
  }

  tbody th {
    background-color: inherit;
    border-right: 1px solid $a-bg-subtle;
  }

  tbody .navds-table__row--shade-on-hover:hover th {
    background-color: $a-bg-subtle;
  }

  table thead th:first-child {
    position: sticky;
    left: 0;
    z-index: 2;
  }
  
  .navds-table__header-cell,
  .navds-table__data-cell {
    padding: $a-spacing-3 $a-spacing-3;
  }

  .navds-table__data-cell {
    max-width: 13rem;
  }

  * {
    font-size: 1rem;
  }

  thead tr {
    vertical-align: bottom;
  }

  thead tr > th:first-child {
    vertical-align: bottom;
  }

  &__status-row {
    th.navds-table__header-cell {
      border-bottom: none;
      padding: 0.75rem 0.75rem 0.15rem;
    }
  }
}

.selectedColumn {
  border-left: #0056b4 dashed 1px;
  border-right: #0056b4 dashed 1px;;
  background-color: #f1f5f9;
  font-weight: 500
}

.hmsnr-header-cell {
  z-index: 2 !important;
}
