@use 'src/styles/_mixins';

@use '@navikt/ds-tokens/dist/tokens' as *;

.statusRow {
  th {
    border-bottom: none;
  }
}

.variantsTable {
  overflow: auto;

  @include mixins.for-size(tablet-up) {
    table {
      width: auto;
      min-width: 50%;
    }
  }

  table {
    border-collapse: separate;
    border-spacing: 0;
  }

  table thead th {
    position: sticky;
    top: 0;
    z-index: 1;
    background: white;
  }

  thead tr > th:first-child {
    background-color: white;
  }

  tr > th:first-child,
  tr > td:first-child {
    position: sticky;
    left: 0;
    width: 250px;
    z-index: 1;
  }

  //Need to set background on every second to white to avoid the header to be transparent
  tbody tr:nth-child(even) th {
    background-color: white;
  }

  tbody tr:nth-child(odd) th {
    background-color: $ax-bg-neutral-soft;
  }

  tbody th {
    border-right: 1px solid$ax-bg-neutral-soft;
  }

  table thead th:first-child {
    position: sticky;
    left: 0;
    z-index: 2;
  }

  * {
    font-size: 1rem;
  }

  thead tr {
    vertical-align: bottom;
  }

  thead tr > th:first-child {
    vertical-align: bottom;
  }
}

.selectedColumn {
  border-left: #0056b4 dashed 1px;
  border-right: #0056b4 dashed 1px;
  background-color: #f1f5f9;
  font-weight: 500;
}
