@use '@navikt/ds-tokens/dist/tokens' as *;

.container {
  display: grid;

  @media (min-width: $ax-breakpoint-sm) {
    width: 312px;
  }

  @media (max-width: $ax-breakpoint-sm) {
    grid-template: 
     "image title arrow" min-content
     "image description description" min-content 
     "image footer footer" / auto 1fr;
  }
}

.imageContainer {
  display: grid;

  @media (max-width: $ax-breakpoint-sm) {
    margin-block: calc(var(--__axc-link-card-padding-block) * -1);
    margin-inline: calc(var(--__axc-link-card-padding-inline) * -1) var(--__axc-link-card-padding-inline);
    border-radius: calc(var(--ax-radius-12) - 1px) 0 0 calc(var(--ax-radius-12) - 1px);
    align-self: stretch;
  }
}

.iconImage {
  user-select: none;
  background-color: #FBF3F6;
  object-fit: contain;
  padding: 50px 50px;

  width: 100%;
  position: absolute;

  @media (max-width: $ax-breakpoint-sm) {
    width: revert-layer;
    position: relative;
    padding: 10px;
  }
}

.linkText {
  text-decoration: none;
}
