.container {
  height: 96px;
  border-radius: 8px;
}


.topCardContainer {
  display: flex;
  flex-direction: column;
  padding: 0;
  border-radius: 0.5rem;
  align-items: center;
}

.iconSvg {
  width: 50%; /* Adjust to desired smaller size */
  height: 50%; /* Adjust to desired smaller size */
  object-fit: contain;
  flex-shrink: 0;
  margin-top: 0.5rem;
}

.bottomSection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  width: 100%;
}

.arrowIcon {
  color: black;
  width: 1.8rem;
  height: 1.7rem;
  flex-shrink: 0;
  transition: transform .18s ease;
}


.arrowIcon:hover {
  transform: translateX(6px);
}
