@use '@navikt/ds-tokens/dist/tokens' as *;

.container {
  display: flex;
  padding: 2%;
}

.buttonShowMore {
  width: 100%;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.20);
  margin: 0 0;

  @media (min-width: 768px) {
    width: 45%;
    margin-right: 30%;
    margin-left: 20%;
    align-self: center;
  }
  &:hover {
    outline: 1px solid$ax-border-brand-blue-subtleA;
  }
}


