@use '@navikt/ds-tokens/dist/tokens' as *;

.filterButton {
  --ac-button-border-radius: var(--a-border-radius-full);

  --ac-button-secondary-bg: white;
  --ac-button-secondary-text: var(--a-text-action);

  --ac-button-secondary-hover-bg: var(--a-surface-action-subtle-hover);

  box-shadow: inset 0 0 0 1px var(--a-surface-action);

  span {
    font-weight: normal;
  }

  &:hover {
    box-shadow: inset 0 0 0 1px var(--a-border-action-hover);
  }

  &Active {
    @extend .filterButton;
    --ac-button-secondary-bg: var(--a-surface-action-selected);
    --ac-button-secondary-text: var(--a-text-on-action);
  }
}

.filterMenu {
  max-width: 500px;
  --ac-floating-available-height: 400px;
}
