@use "styles/mixins";

.search {
  &__side-bar {
    min-width: 288px;
    height: fit-content;
    margin: 0 var(--navds-spacing-6);
    padding: var(--navds-spacing-5) var(--navds-spacing-4);
    background: var(--navds-semantic-color-canvas-background-light);
    box-shadow: 1px 1px 4px var(--navds-global-color-gray-300);

    @include mixins.for-size(tablet-up) {
      max-width: 344px;
    }

    h2 {
      margin-bottom: var(--navds-spacing-5);
    }
  }

  &__iso-category-select {
    margin-top: var(--navds-spacing-5)
  }
}

.results {
  &__wrapper {
    flex: 1;
    margin: 0 var(--navds-spacing-6);


    h2 {
      margin: var(--navds-spacing-5) 0;
    }

    @include mixins.for-size(tablet-up) {
      margin-left: 0;
      margin-right: var(--navds-spacing-6);
    }
  }

  &__header {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding-left: var(--navds-spacing-1);
  }

  &__sort-select {
    display: flex;
    white-space: nowrap;
    align-items: baseline;
  }

  &__list {
    list-style: none;
    padding: 0;

    article {
      margin-bottom: var(--navds-spacing-2);
      padding: var(--navds-spacing-5) var(--navds-spacing-3);
      background: var(--navds-semantic-color-canvas-background-light);
      border: 1px solid var(--navds-semantic-color-canvas-background);
      box-shadow: 1px 1px 4px var(--navds-global-color-gray-300);
    }
  }
}
