@use 'styles/mixins';

.search {
  &__side-bar {
    display: flex;
    flex-direction: column;
    min-width: 288px;
    height: fit-content;
    margin: var(--a-spacing-5) var(--a-spacing-5) 0 var(--a-spacing-5);

    @include mixins.for-size(tablet-up) {
      max-width: 344px;
      margin-right: var(--a-spacing-12);
    }

    h2 {
      margin-bottom: var(--a-spacing-5);
    }
  }

  &__iso-category-select {
    margin-top: var(--a-spacing-5);
  }

  &__reset-button {
    margin-top: var(--a-spacing-5);
  }
}

.results {
  &__wrapper {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 0 var(--a-spacing-5) var(--a-spacing-5) var(--a-spacing-5);

    h2 {
      margin: var(--a-spacing-5) 0;
    }

    @include mixins.for-size(tablet-up) {
      margin-left: 0;
      margin-right: var(--a-spacing-6);
    }
  }

  &__header {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }

  &__sort-select {
    display: flex;
    white-space: nowrap;
    align-items: baseline;
  }

  &__list {
    list-style: none;
    padding: 0;
    margin-bottom: 0;

    article {
      margin-bottom: var(--a-spacing-2);
      padding: var(--a-spacing-5) var(--a-spacing-3);
      background: var(--a-semantic-color-canvas-background-light);
      border: 1px solid var(--a-semantic-color-canvas-background);
      box-shadow: 1px 1px 4px var(--a-global-color-gray-300);
    }
  }
}
