@use '@navikt/ds-tokens/dist/tokens' as *;

.button {
  width: fit-content;

  transition-duration: 300ms;
  transition-property: background-color;
}

.deleteButton {
  width: 80px;
  --ac-button-secondary-text: var(--a-text-danger);
  --ac-button-secondary-border: var(--a-border-danger);
  --ac-button-secondary-hover-bg: var(--a-surface-danger-subtle-hover);
  --ac-button-secondary-hover-border: var(--a-border-danger);
  --ac-button-secondary-hover-text: var(--a-text-danger);
}

.buttonSaved {
  @extend .button;
  background-color: var(--a-surface-success);

  &:hover {
    @extend .buttonSaved;
  }
}
