@use '@navikt/ds-tokens/dist/tokens' as *;

.button {
  width: fit-content;

  transition-duration: 300ms;
  transition-property: background-color;
}

.deleteButton {
  width: 80px;
  --ac-button-secondary-text: var(--ax-text-danger-subtle);
  --ac-button-secondary-border: var(--ax-border-danger);
  --ac-button-secondary-hover-bg: var(--ax-bg-danger-moderate-hover);
  --ac-button-secondary-hover-border: var(--ax-border-danger);
  --ac-button-secondary-hover-text: var(--ax-text-danger-subtle);
  --ac-button-secondary-active-text: var(--ax-text-danger-subtle);
  --ac-button-secondary-active-bg: var(--ax-bg-danger-moderate-hover);
}

.buttonSaved {
  @extend .button;
  background-color: var(--ax-bg-success-strong);

  &:hover {
    @extend .buttonSaved;
  }
}
