@use '@navikt/ds-tokens/dist/tokens' as *;

.button {
  width: fit-content;

  transition-duration: 300ms;
  transition-property: background-color;
}

.buttonSaved {
  @extend .button;
  background-color: var(--a-surface-success);

  &:hover {
    @extend .buttonSaved;
  }
}
