@use './_mixins';

@import '@navikt/ds-tokens/dist/tokens';

.agreement-page {
  background-color: #faefee;

  &__content {
    display: flex;
    flex-direction: column;
    gap: $a-spacing-8;
    padding-top: $a-spacing-4;
    padding-bottom: $a-spacing-4;

    @include mixins.for-size(tablet-up) {
      padding-top: $a-spacing-8;
      padding-bottom: $a-spacing-8;
    }
    @include mixins.for-size(desktop-up) {
      padding: $a-spacing-14 0;
    }
  }

  &__link-to-search {
    margin: $a-spacing-2 0;
    align-self: flex-start;
  }

  article {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    gap: $a-spacing-4;
    padding: $a-spacing-6 $a-spacing-4;
    border-radius: $a-border-radius-large;

    @include mixins.for-size(tablet-up) {
      padding: $a-spacing-10 $a-spacing-12;
    }

    p {
      max-width: 600px;
    }
  }

  &__description {
    display: flex;
    flex-direction: column;
    gap: $a-spacing-2;
  }

  &__list-header {
    p {
      letter-spacing: 0.15em;
      text-transform: uppercase;
      color: $a-text-subtle;
    }
  }

  &__list-container {
    list-style: none;
    margin-block-start: 0;
    padding-inline-start: 0;

    li > div {
      // padding: 0 $a-spacing-2;
      @include mixins.for-size(tablet-up) {
        // padding: 0 $a-spacing-4;
        height: 3.75rem;
        :first-child {
          margin-left: 1rem;
          padding-right: 4px;
        }
        :last-child {
          margin-left: 1rem;
        }
      }
    }

    li {
      padding: $a-spacing-2;

      @include mixins.for-size(tablet-up) {
        padding: 0;
      }
    }

    a {
      width: fit-content;
      text-underline-offset: 2px;
    }

    a:active {
      background-color: transparent;
      color: black;
    }
  }

  &__sort-button {
    width: fit-content;
    padding-left: 1rem;
    @include mixins.for-size(tablet-up) {
      &-published {
        margin-left: -6px;
      }

      &-expires {
        margin-left: 1rem;
      }
    }
  }

  &__sort-selected {
    background-color: $a-surface-action-subtle;
  }
}
