@use './_mixins';

@import '@navikt/ds-tokens/dist/tokens';

.agreement-page {
  background-color: #faefee;

  &__content {
    display: flex;
    flex-direction: column;
    gap: $a-spacing-8;
    padding-top: $a-spacing-4;
    padding-bottom: $a-spacing-4;

    @include mixins.for-size(tablet-up) {
      padding-top: $a-spacing-8;
      padding-bottom: $a-spacing-8;
    }
    @include mixins.for-size(desktop-up) {
      padding: $a-spacing-14 0;
    }
  }

  &__link-to-search {
    margin: $a-spacing-2 0;
    align-self: flex-start;
  }

  article {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    gap: $a-spacing-4;
    padding: $a-spacing-6 $a-spacing-4;
    border-radius: $a-border-radius-large;

    @include mixins.for-size(tablet-up) {
      padding: $a-spacing-10 $a-spacing-12;
    }

    p {
      max-width: 550px;
    }
  }

  &__icon-containers {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: $a-spacing-2;
    padding: $a-spacing-5 0;

    @include mixins.for-size(tablet-up) {
      padding: $a-spacing-7 0;
    }
  }

  &__icon-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 14rem;
  }

  &__description {
    display: flex;
    flex-direction: column;
    gap: $a-spacing-2;
  }

  &__list-header {
    @include mixins.for-size(tablet-up) {
      :first-child {
        margin-left: 1rem;
      }
      :last-child {
        margin-left: 1rem;
      }
    }

    p {
      letter-spacing: 0.15em;
      text-transform: uppercase;
      color: $a-text-subtle;
    }
  }

  &__list-container {
    list-style: none;
    margin-block-start: 0;
    padding-inline-start: 0;

    li > div {
      // padding: 0 $a-spacing-2;
      @include mixins.for-size(tablet-up) {
        // padding: 0 $a-spacing-4;
        height: 3.75rem;
        :first-child {
          margin-left: 1rem;
          padding-right: 4px;
        }
        :last-child {
          margin-left: 1rem;
        }
      }
    }

    li {
      padding: $a-spacing-2;

      @include mixins.for-size(tablet-up) {
        padding: 0;
      }
    }
  }
}
