@use './_mixins';
@use './z-index.scss';
@use '@navikt/ds-tokens/dist/tokens' as *;

.burgermenu-container {
  position: absolute;
  top: 100px;
  min-height: 122px;
  background-color: white;
  display: flex;
  justify-content: center;
  padding: 0$ax-space-16;
  width: 100%;
  z-index: var(--z-index-dropdown-menu);
  box-shadow: inset 0 -1px 0$ax-neutral-400;
  border-bottom-left-radius: var(--ax-radius-4);
  border-bottom-right-radius: var(--ax-radius-4);
  border-top: 1px$ax-neutral-400 solid;

  &__content {
    padding-top:$ax-space-56;
    padding-bottom:$ax-space-56;
    display: flex;
    flex-direction: column;
    width: 100%;

    ul {
      list-style: none;
      padding-inline-start: 0;
    }
  }

  &__link {
    font-weight: var(--ax-font-weight-bold);
    text-underline-offset: 2px;
  }

  &__category-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e6f0ff;
    border-radius: 100%;
    height: 49px;
    width: 49px;
  }

  &__category-list {
    list-style: none;
    padding-left: 0;
    margin-top: 10px;

    @include mixins.for-size(phone-up) {
      columns: 2;
      -webkit-columns: 2;
      -moz-columns: 2;
      list-style-position: inside;
    }

    li {
      padding:$ax-space-12 0;
    }
  }
}
