@use './_mixins';
@use './z-index.scss';
@use '@navikt/ds-tokens/dist/tokens' as *;

.burgermenu-container {
  position: absolute;
  top: 80px;
  min-height: 122px;
  background-color: white;
  display: flex;
  justify-content: center;
  padding: 0$ax-space-16;
  //width: 100%;
  z-index: var(--z-index-dropdown-menu);
  //box-shadow: inset 0 -1px 0$ax-neutral-400;
  border-bottom-left-radius: var(--ax-radius-4);
  border-bottom-right-radius: var(--ax-radius-4);
  border-top: 1px$ax-neutral-400 solid;
  filter: drop-shadow(0 4px 6px rgba(0, 0, 0, 0.15));

  &__content {
    ul {
      list-style: none;
      padding-inline-start: 0;
    }
  }

  @media (max-width: $ax-breakpoint-md) {
    width: 100%;
  }
}
