@use './_mixins';
@import './z-index.scss';

.burgermenu-container {
  position: absolute;
  top: 100px;
  min-height: 122px;
  background-color: white;
  display: flex;
  justify-content: center;
  padding: 0 $a-spacing-4;
  width: 100%;
  z-index: var(--z-index-dropdown-menu);
  box-shadow: inset 0 -1px 0 $a-gray-300;
  border-bottom-left-radius: var(--a-border-radius-medium);
  border-bottom-right-radius: var(--a-border-radius-medium);
  border-top: 1px $a-gray-300 solid;

  &__content {
    padding-top: $a-spacing-14;
    padding-bottom: $a-spacing-14;
    display: flex;
    flex-direction: column;
    width: 100%;

    ul {
      list-style: none;
      padding-inline-start: 0;
    }
  }

  &__link {
    font-weight: var(--a-font-weight-bold);
    text-underline-offset: 2px;
  }

  &__category-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e6f0ff;
    border-radius: 100%;
    height: 49px;
    width: 49px;
  }

  &__category-list {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
    list-style-position: inside;

    li {
      padding: $a-spacing-2 0;
    }
  }
}
