@import '@navikt/ds-tokens/dist/tokens';

.compare-page {
  .comparing-table {
    max-width: none;

    tr > th:first-child,
    tr > td:first-child {
      position: sticky;
      left: 0;
      min-width: 9rem;
    }
  }

  .back-to-search {
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: $a-spacing-3;
    color: $a-text-default;
    padding: $a-spacing-3 $a-spacing-1;
    border-radius: $a-border-radius-small;
    border: 1px solid $a-border-default;
    box-shadow: $a-shadow-small;

    &:hover {
      text-decoration: underline;
      color: $a-text-action;
      box-shadow: $a-shadow-medium;
    }
  }
}
