@use './_mixins';

@import '@navikt/ds-tokens/dist/tokens';

.compare-menu {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  z-index: 3;
  background-color: $a-surface-action-subtle-hover;
  border-radius: $a-border-radius-large $a-border-radius-large 0 0;
  padding: $a-spacing-3 $a-spacing-6;
  border: 1px solid $a-border-divider;
  box-shadow: 0 1px 15px 4px rgba(0, 34, 82, 0.1);

  &--open {
    height: 100%;
    border-radius: unset;

    @include mixins.for-size(desktop-up) {
      height: auto;
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: $a-spacing-4 0;

    h2 {
      max-width: 250px;
    }

    @include mixins.for-size(desktop-up) {
      flex-direction: row;
      justify-content: center;
      padding: $a-spacing-4 $a-spacing-5 $a-spacing-5 0;
    }
  }

  &__chosen-products {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: $a-spacing-2;
    max-width: 62rem;
    list-style: none;
    margin: 0;
    padding: 0 0 $a-spacing-4 0;

    li {
      margin: $a-spacing-2;
    }

    @include mixins.for-size(phone-only) {
      width: 100%;
      gap: $a-spacing-5;
    }

    @include mixins.for-size(desktop-up) {
      flex-wrap: nowrap;
      justify-content: initial;
      $mask: linear-gradient(90deg, transparent, #000 3%, #000 97%, transparent 100%);
      -webkit-mask-image: $mask;
      mask-image: $mask;
      overflow-x: auto;

      li:first-child {
        margin-left: $a-spacing-5;
      }

      li:last-child {
        margin-right: $a-spacing-5;
      }
    }
  }

  @include mixins.for-size(phone-only) {
    li {
      width: 100%;
      margin: 0;
    }
  }

  &__placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: $a-surface-action-subtle;
    border: 1px dashed $a-surface-action;
    padding: $a-spacing-6;
    margin-bottom: $a-spacing-4;

    &__empty {
      height: 15rem;
      width: 22rem;
      border-radius: 12px;

      @include mixins.for-size(phone-only) {
        width: 100%;
      }
    }

    &__one-more {
      height: 15rem;
      width: 11rem;
      border-radius: $a-border-radius-large;

      @include mixins.for-size(phone-only) {
        width: 100%;
      }
    }

    p {
      font-size: $a-font-size-large;
      font-weight: $a-font-weight-regular;
      letter-spacing: 0;
      line-height: $a-font-line-height-large;
      margin: 0;
      max-width: 200px;
    }
  }

  &__chevron-button {
    align-self: center;
  }
}
