@use './_mixins';

@use '@navikt/ds-tokens/dist/tokens' as *;

.compare-menu.open {
  height: 100%;
  border-radius: unset;

  @include mixins.for-size(desktop-up) {
    height: auto;
  }

  @include mixins.for-size(phone-only) {
    overflow-x: scroll;
  }
}

.compare-menu {
  transition: all 0.4s linear;
  max-height: 2000px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  z-index: 5;
  background-color:$ax-bg-accent-moderate-hover;
  border-radius:$ax-radius-8$ax-radius-8 0 0;
  border: 1px solid$ax-border-neutral-subtle;
  box-shadow: 0 1px 15px 4px rgba(0, 34, 82, 0.1);
  padding:$ax-space-12$ax-space-8;

  @include mixins.for-size(desktop-up) {
    padding:$ax-space-12$ax-space-24;
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding:$ax-space-16 0;
    gap:$ax-space-16;

    h2 {
      max-width: 250px;
    }

    @include mixins.for-size(desktop-up) {
      flex-direction: row;
      justify-content: center;
      padding:$ax-space-16$ax-space-20;
    }
  }

  &__chosen-products {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    max-width: 62rem;
    list-style: none;
    margin: 0;
    padding: 0 0$ax-space-16 0;

    li {
      margin:$ax-space-8;
    }

    @include mixins.for-size(phone-only) {
      gap:$ax-space-20;

      li {
        margin: 0;
      }
    }

    @include mixins.for-size(desktop-up) {
      flex-wrap: nowrap;
      justify-content: initial;
      $mask: linear-gradient(90deg, transparent, #000 3%, #000 99%, transparent 100%);
      -webkit-mask-image: $mask;
      mask-image: $mask;
      overflow-x: auto;

      li:first-child {
        margin-left:$ax-space-20;
      }

      li:last-child {
        margin-right:$ax-space-20;
      }
    }

    .product-card {
      @include mixins.for-size(phone-only) {
        height: 100%;
        min-width: 150px;
      }

      .image {
        @include mixins.for-size(phone-only) {
          width: 60vw;
          height: 60vw;
        }
      }
    }
  }

  &__placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color:$ax-bg-accent-soft;
    border: 1px dashed$ax-bg-accent-strong;
    padding:$ax-space-24;
    margin-bottom:$ax-space-16;

    &__empty {
      height: 15rem;
      width: 22rem;
      border-radius: 12px;

      @include mixins.for-size(phone-only) {
        width: 100%;
      }
    }

    &__one-more {
      height: 14rem;
      width: 10rem;
      border-radius:$ax-radius-8;

      @include mixins.for-size(phone-only) {
        width: 100%;
      }
    }

    p {
      font-size:$ax-font-size-large;
      font-weight:$ax-font-weight-regular;
      letter-spacing: 0;
      line-height:$ax-font-line-height-large;
      margin: 0;
      max-width: 200px;
    }
  }

  &__chevron-button {
    align-self: center;
    color:$ax-accent-800;
  }

  &__chevron-button:hover {
    background-color:$ax-bg-accent-soft;
  }

  &__buttons {
    display: flex;
    flex-direction: column;
    gap:$ax-space-8;
  }
}
