@use './_mixins';

.compare-menu {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  z-index: 3;
  background-color: var(--a-surface-action-subtle-hover);
  border-radius: var(--a-border-radius-large) var(--a-border-radius-large) 0 0;
  padding: var(--a-spacing-3) var(--a-spacing-6);
  box-shadow: 0 1px 15px 4px rgba(0, 34, 82, 0.1);

  &--open {
    height: 100%;
    overflow-y: scroll;

    @include mixins.for-size(desktop-up) {
      height: auto;
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: var(--a-spacing-5);
    padding: var(--a-spacing-4) 0;

    h2 {
      max-width: 250px;
    }

    @include mixins.for-size(desktop-up) {
      flex-direction: row;
      justify-content: center;
      padding: var(--a-spacing-4) var(--a-spacing-5) var(--a-spacing-5) 0;
    }
  }

  &__chosen-products {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: var(--a-spacing-2);
    max-width: 62rem;
    list-style: none;
    margin: 0;
    padding: 0 0 var(--a-spacing-4) 0;

    li {
      margin: var(--a-spacing-2);
    }

    @include mixins.for-size(phone-only) {
      gap: 0;
    }

    @include mixins.for-size(desktop-up) {
      flex-wrap: nowrap;
      justify-content: initial;
      --mask: linear-gradient(90deg, transparent, #000 3%, #000 97%, transparent 100%);
      -webkit-mask-image: var(--mask);
      mask-image: var(--mask);
      overflow-x: auto;

      li:first-child {
        margin-left: var(--a-spacing-5);
      }

      li:last-child {
        margin-right: var(--a-spacing-5);
      }
    }
  }

  @include mixins.for-size(phone-only) {
    li {
      width: 100%;
    }
  }

  &__product-title {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;

    display: -moz-box;
    -moz-box-orient: vertical;

    overflow: hidden;
  }

  &__placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--a-surface-action-subtle);
    border: 1px dashed var(--a-surface-action);
    padding: var(--a-spacing-6);
    margin-bottom: var(--a-spacing-4);


    &__empty {
      height: 15rem;
      width: 450px;
      border-radius: 12px;
    }

    &__one-more {
      height: 15rem;
      width: 176px;
      border-radius: var(--a-border-radius-large);
    }

    p {
      font-size: var(--a-font-size-large);
      font-weight: var(--a-font-weight-regular);
      letter-spacing: 0;
      line-height: var(--a-font-line-height-large);
      margin: 0;
      max-width: 200px;
    }
  }

  &__chevron-button {
    align-self: center;
  }
}
