@import '@navikt/ds-tokens/dist/tokens';

.range-filter-input {
  display: flex;
  align-items: flex-end;
  gap: $a-spacing-4;
  box-sizing: border-box;
  max-width: 13rem;
  margin-bottom: $a-spacing-3;
}

.single-filter-input {
  max-width: 6rem;
  margin-bottom: $a-spacing-3;
}

.checkbox-filter-input {
  margin-bottom: $a-spacing-3;
}

.range-filter-input-group {
  input {
    width: 115px;
  }

  button {
    align-self: flex-end;
    height: 32px;
  }
}
