@import '@navikt/ds-tokens/dist/tokens';

.range-filter-input {
  display: flex;
  align-items: flex-end;
  gap: $a-spacing-4;
  box-sizing: border-box;
  max-width: 13rem;
}

.single-filter-input {
  max-width: 6rem;
}

.checkbox-filter-input {
  margin-bottom: $a-spacing-3;
}
