@use './_mixins';
@use '@navikt/ds-tokens/dist/tokens' as *;

.checkbox-filter {
  &__checkboxes {
    > div {
      margin: 2px 0;
      margin-left:$ax-space-12;
    }
  }

  &__search {
    padding:$ax-space-4$ax-space-8;
    padding-bottom:$ax-space-12;
  }

  &__scroll-container {
    padding-top:$ax-space-12;
    max-height: 400px;
    overflow-y: auto;
  }

  &__selected-unavailable {
    .navds-body-short--small {
      color:$ax-text-neutral-subtle;
    }
  }
}

.filter-container {
  padding-top: 20px;

  &__agreement-switch {
    margin-bottom:$ax-space-24;
  }

  &__divider {
    border-bottom: 1px solid$ax-border-neutral-subtle;
  }

  &__filters:not(.filter-container__horizontal) {
    details > div {
      margin-bottom:$ax-space-16;
    }

    details[open] > summary {
      margin-bottom:$ax-space-8;
    }

    .checkbox-filter,
    .input-filter {
      border: 1px solid$ax-border-neutral-subtle;
      border-radius: 4px;
    }
  }

  &__filters {
    .checkbox-filter.active,
    .input-filter.active {
      summary {
        background-color:$ax-bg-accent-soft;
      }
    }

    details > div {
      box-sizing: border-box;
    }

    details[open] > summary {
      .chevron-wrapper {
        svg {
          transform: rotate(180deg);
        }
      }
    }

    summary {
      font-size: 17px;
      padding: 0;
      border-radius: 4px;
      padding:$ax-space-8$ax-space-12;
      transition: margin 150ms ease-out;
      cursor: pointer;
      user-select: none;

      &::marker,
      &::-webkit-details-marker {
        display: none;
      }

      &:hover {
        text-decoration: underline;
        text-decoration-thickness: 2px;
        text-decoration-color:$ax-text-neutral;

        .chevron-wrapper {
          background-color:$ax-bg-neutral-moderate-hover;
        }
      }
    }

    .chevron-wrapper {
      display: grid;
      align-self: center;
      place-content: center;
      border-radius:$ax-radius-4;
      height:$ax-space-24;
      width:$ax-space-24;

      svg {
        transition: transform 200ms ease-in-out;
      }
    }
  }

  &__horizontal {
    summary {
      padding:$ax-space-12;
      border: 1px solid$ax-border-neutral-subtle;
    }

    .checkbox-filter,
    .input-filter {
      width: 100%;

      @include mixins.for-size(desktop-up) {
        width: 340px;
      }
    }

    .range-filter-input-group {
      margin-left:$ax-space-4;
      input {
        width: 100px;
      }
    }

    details {
      height: fit-content;
      position: relative;
    }

    details > div {
      border: 1px solid$ax-border-neutral-subtle;
      top: 48px;
      border-top: none;
      border-radius: 0 0 4px 4px;
      box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
      position: absolute;
      left: 0;
      background-color: white;
      width: 100%;
      z-index: 4;
      padding: 10px;
      padding-top:$ax-space-16;
      padding-bottom:$ax-space-24;
    }

    details[open] > summary {
      border-radius: 4px 4px 0 0;
    }
  }

  &__footer {
    button {
      padding:$ax-space-8$ax-space-12;
    }
  }

  &__chips {
    .chip {
      padding: 2px var(--ax-space-12);
    }
  }
}

.range-filter-input-group {
  margin-left:$ax-space-12;

  input {
    width: 115px;
  }

  button {
    align-self: flex-end;
    height: 32px;
  }
}

form {
  [data-invalid] {
    outline: 2px solid var(--ax-danger-500);
  }
}
