@use './_mixins';
@use '@navikt/ds-tokens/dist/tokens' as *;

.checkbox-filter {
  &__checkboxes {
    > div {
      margin: 2px 0;
      margin-left: $a-spacing-3;
    }
  }

  &__search {
    padding: $a-spacing-1 $a-spacing-2;
    padding-bottom: $a-spacing-3;
  }

  &__scroll-container {
    padding-top: $a-spacing-3;
    max-height: 400px;
    overflow-y: auto;
  }

  &__selected-unavailable {
    .navds-body-short--small {
      color: $a-text-subtle;
    }
  }
}

.filter-container {
  &__agreement-switch {
    margin-bottom: $a-spacing-6;
  }

  &__divider {
    border-bottom: 1px solid $a-border-divider;
  }

  &__filters:not(.filter-container__horizontal) {
    details > div {
      margin-bottom: $a-spacing-4;
    }

    details[open] > summary {
      margin-bottom: $a-spacing-2;
    }

    .checkbox-filter,
    .input-filter {
      border: 1px solid $a-border-divider;
      border-radius: 4px;
    }
  }

  &__filters {
    .checkbox-filter.active,
    .input-filter.active {
      summary {
        background-color: $a-surface-action-subtle;
      }
    }

    details > div {
      box-sizing: border-box;
    }

    details[open] > summary {
      .chevron-wrapper {
        svg {
          transform: rotate(180deg);
        }
      }
    }

    summary {
      font-size: 17px;
      padding: 0;
      border-radius: 4px;
      padding: $a-spacing-2 $a-spacing-3;
      transition: margin 150ms ease-out;
      cursor: pointer;
      user-select: none;

      &::marker,
      &::-webkit-details-marker {
        display: none;
      }

      &:hover {
        text-decoration: underline;
        text-decoration-thickness: 2px;
        text-decoration-color: $a-text-default;

        .chevron-wrapper {
          background-color: $a-surface-neutral-subtle-hover;
        }
      }
    }

    .chevron-wrapper {
      display: grid;
      align-self: center;
      place-content: center;
      border-radius: $a-border-radius-medium;
      height: $a-spacing-6;
      width: $a-spacing-6;

      svg {
        transition: transform 200ms ease-in-out;
      }
    }
  }

  &__horizontal {
    summary {
      padding: $a-spacing-3;
      border: 1px solid $a-border-divider;
    }

    .checkbox-filter,
    .input-filter {
      width: 100%;

      @include mixins.for-size(desktop-up) {
        width: 340px;
      }
    }

    .range-filter-input-group {
      margin-left: $a-spacing-1;
      input {
        width: 100px;
      }
    }

    details {
      height: fit-content;
      position: relative;
    }

    details > div {
      border: 1px solid $a-border-divider;
      top: 48px;
      border-top: none;
      border-radius: 0 0 4px 4px;
      box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
      position: absolute;
      left: 0;
      background-color: white;
      width: 100%;
      z-index: 4;
      padding: 10px;
      padding-top: $a-spacing-4;
      padding-bottom: $a-spacing-6;
    }

    details[open] > summary {
      border-radius: 4px 4px 0 0;
    }
  }

  &__footer {
    button {
      padding: $a-spacing-2 $a-spacing-3;
    }
  }

  &__chips {
    .chip {
      padding: 2px var(--a-spacing-3);
    }
  }
}

.range-filter-input-group {
  margin-left: $a-spacing-3;

  input {
    width: 115px;
  }

  button {
    align-self: flex-end;
    height: 32px;
  }
}

form {
  [data-invalid] {
    outline: 2px solid var(--a-red-400);
  }
}
