@use './_mixins';
.searchbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--a-gray-100);
  gap: var(--a-spacing-10);
  align-self: stretch;
  justify-content: center;

  @include mixins.for-size(tablet-up) {
    padding: var(--a-spacing-13) var(--a-spacing-12);
  }

  @include mixins.for-size(desktop-up) {
    margin-bottom: 0;
  }

  &__heading {
    max-width: 30rem;
    padding-top: var(--a-spacing-4);
    text-align: center;

    @include mixins.for-size(tablet-up) {
      padding-top: var(--a-spacing-8);
    }

    @include mixins.for-size(desktop-up) {
      padding-top: var(--a-spacing-12);
    }
  }

  &__input {
    padding: var(--a-spacing-4);
  }
}

.forside__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 2rem;
  gap: 0.5rem;
  align-self: stretch;
  justify-content: left;

  @include mixins.for-size(tablet-up) {
    padding: 2rem 5rem;
    gap: 1rem;
  }
  @include mixins.for-size(desktop-up) {
    padding: 3rem 8rem;
    gap: 1rem;
  }
}

.about-us-page {
  width: 100%;
  height: 100%;
  background-color: #f2f8fb;

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 600px;
  }
}
