@use './_mixins';

@import '@navikt/ds-css';
@import './compare-menu.scss';
@import './compare-page.scss';
@import './comparing-table.scss';
@import './filter-input.scss';
@import './forside.scss';
@import './mobile-overlay';
@import './product-card.scss';
@import './product-page.scss';
@import './search.scss';

html,
body,
#__next {
  margin: 0;
  height: 100%;
  min-height: 100%;
}

#__next {
  display: flex;
  flex-direction: column;
}

main {
  flex: auto;
}

details {
  margin-bottom: var(--a-spacing-4);

  > summary {
    display: flex;
    cursor: pointer;
    list-style: none;
    transition: margin 150ms ease-out;

    &::marker,
    &::-webkit-details-marker {
      display: none;
    }

    &:hover {
      text-decoration: underline;
      text-decoration-thickness: 2px;
      text-decoration-color: var(--a-text-default);
    }

    &:focus {
      outline: none;
    }

    &:focus-visible {
      box-shadow: var(--a-shadow-focus);
      border-radius: var(--a-border-radius-medium);
      &:before {
      }
    }

    &:before {
      content: '';
      width: 24px;
      background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12 17.414 4.293 9.707l1.414-1.414L12 14.586l6.293-6.293 1.414 1.414L12 17.414Z' fill='currentColor'/%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-size: cover;
      margin-right: var(--a-spacing-1);
      transition: transform 200ms ease-in-out;
    }
  }

  > div {
    box-sizing: border-box;
    margin-bottom: var(--a-spacing-5);
  }

  &[open] > summary {
    margin-bottom: var(--a-spacing-3);

    &:before {
      transform: rotate(180deg);
    }
  }

  > div {
    padding-left: var(--a-spacing-7);
  }
}

.main-header {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: var(--a-gray-50);

  h1 {
    text-align: center;
    font-weight: 400;
    margin: 2.5rem 0;
  }
}

.nav-topp {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: inset 0 -1px 0 var(--a-gray-300);

  .wip-banner {
    text-align: center;
    width: 100%;
    height: 84px;
    font-size: var(--a-font-size-heading-small);
    background-color: var(--a-red-100);

    span {
      font-size: 2rem;
    }
  }

  &__content {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    max-width: 1200px;
    padding: var(--a-spacing-5);
    text-align: center;

    a {
      padding: var(--a-spacing-2);
      margin-left: calc(var(--a-spacing-2) * -1);
    }
  }

  h1 {
    margin: 0;
    font-size: 1em;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline-block;
  }

  li {
    float: left;
  }
  li:not(:first-child) {
    margin-left: 20px;
  }

  li p {
    padding: 0;
    margin: 0;
  }

  a {
    display: flex;
    gap: var(--a-spacing-2);
    text-decoration: none;

    img {
      align-self: center;
    }

    &:focus {
      background-color: transparent;
      border-color: transparent;
      border-radius: var(--a-border-radius-medium);
      box-shadow: var(--a-shadow-focus);
      outline: none;
    }

    &:hover {
      text-decoration: underline;
    }
  }

  .nav-topp--active {
    border-bottom: 3px solid var(--a-border-focus);
  }
}

.nav-bunn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: var(--a-spacing-12) var(--a-spacing-5);
  background: #ffe6e6;

  &__content {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1200px;
  }

  &__info {
    display: flex;
    flex-direction: row;
    gap: var(--a-spacing-4);
    margin-top: var(--a-spacing-10);
    width: 100%;
    max-width: 1200px;

    div {
      display: flex;
      flex-direction: column;
      gap: var(--a-spacing-2);
    }
  }
}

.breadcrumbs {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  padding: var(--a-spacing-5);

  ol {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    align-items: center;
    display: flex;
  }

  a {
    padding: 0.5rem 0;
    margin: 0.25rem 0.25rem 0.25rem 0;
  }
}

.main-wrapper {
  max-width: 1200px;
  padding: var(--a-spacing-4);
  margin: 0 auto var(--a-spacing-4);

  @include mixins.for-size(desktop-up) {
    padding: var(--a-spacing-5);
    margin-bottom: var(--a-spacing-5);
  }
}

.flex {
  display: flex;

  &--column {
    flex-direction: column;
  }

  &--row {
    flex-direction: row;

    @include mixins.for-size(phone-only) {
      flex-direction: column;
    }
  }

  &--space-between {
    justify-content: space-between;
  }
}

.flex-column-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include mixins.for-size(desktop-up) {
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
  }
}

.visually-hidden {
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  position: absolute !important;
  white-space: nowrap !important;
  border: 0 !important;
}

.visually-hidden-focusable {
  &:not(:focus):not(:focus-within) {
    @extend .visually-hidden;
  }
}

.spacing {
  &-bottom {
    &--small {
      margin-bottom: var(--a-spacing-2);
    }
    &--medium {
      margin-bottom: var(--a-spacing-4);
    }
    &--large {
      margin-bottom: var(--a-spacing-8);
    }
    &--xlarge {
      margin-bottom: var(--a-spacing-16);
    }
  }
}
