@use './_mixins';

@use '@navikt/ds-css' as *;
@use '@navikt/ds-tokens/dist/tokens' as *;
@use './compare-menu.scss';
@use '../app/sammenlign/compare-page.scss';
@use './filter.scss';
@use './product-card.scss';
@use './search.scss';
@use './search-agreement.scss';
@use './navigation-bar.scss';
@use './burger-menu-content.scss';
@use './z-index.scss';
@use '../app/rammeavtale/agreement-page.scss';
@use '../app/produkt/parts-page.scss';

nextjs-portal {
  display: none;
}

html,
body {
  display: flex;
  flex-direction: column;
  margin: 0;
  height: 100%;
  min-height: 100%;
  background-color: $ax-bg-default;
  -webkit-font-smoothing: antialiased;
}

#cover-main {
  background-color: rgba(50, 65, 79, 0.3);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: var(--z-index-cover);
}

main {
  flex: auto;
  position: relative;
}

.nav-bunn {
  background-color: $ax-brand-blue-900;
  padding-bottom: 48px;
  padding-top: 40px;

  &__info {
    color: white;

    a {
      color: white;
      //--ac-link-active-text: #cce1ff;
      //--ac-link-active-bg: transparent;
      //--ac-link-focus-text: #cce1ff;
      //--ac-link-focus-bg: transparent;
    }
  }
}

.standalone-page-wrapper {
  padding: $ax-space-16;
}

.main-wrapper {
  padding-left: $ax-space-16;
  padding-right: $ax-space-16;
  margin: 0 auto;

  &--small {
    @extend .main-wrapper;
    max-width: 768px;

    @include mixins.for-size(desktop-up) {
      padding-left: 0;
      padding-right: 0;
    }
  }

  &--medium {
    @extend .main-wrapper;
    max-width: 1000px;

    @include mixins.for-size(desktop-up) {
      padding-left: 0;
      padding-right: 0;
    }
  }

  &--large {
    @extend .main-wrapper;
    max-width: 1280px;

    @include mixins.for-size(desktop-large-up) {
      padding-left: 0;
      padding-right: 0;
    }
  }

  &--xlarge {
    @extend .main-wrapper;
    max-width: 1408px;

    @include mixins.for-size(desktop-xlarge-up) {
      padding-left: 0;
      padding-right: 0;
    }
  }
}

.flex {
  display: flex;

  &--column {
    flex-direction: column;
  }

  &--row {
    flex-direction: row;

    @include mixins.for-size(phone-only) {
      flex-direction: column;
    }
  }

  &--space-between {
    justify-content: space-between;
  }
}

.flex-column-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include mixins.for-size(desktop-up) {
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
  }
}

.visually-hidden {
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  position: absolute !important;
  white-space: nowrap !important;
  border: 0 !important;
}

.visually-hidden-focusable {
  &:not(:focus):not(:focus-within) {
    @extend .visually-hidden;
  }
}

.spacing {
  &-top {
    &--xsmall {
      margin-top: $ax-space-4;

      @include mixins.for-size(desktop-up) {
        margin-top: $ax-space-8;
      }
    }

    &--small {
      margin-top: $ax-space-8;

      @include mixins.for-size(desktop-up) {
        margin-top: $ax-space-16;
      }
    }

    &--medium {
      margin-top: $ax-space-16;

      @include mixins.for-size(desktop-up) {
        margin-top: $ax-space-32;
      }
    }

    &--large {
      margin-top: $ax-space-32;

      @include mixins.for-size(desktop-up) {
        margin-top: $ax-space-48;
      }
    }

    &--xlarge {
      margin-top: $ax-space-48;

      @include mixins.for-size(desktop-up) {
        margin-top: $ax-space-80;
      }
    }
  }
}

.spacing {
  &-bottom {
    &--small {
      margin-bottom: $ax-space-8;

      @include mixins.for-size(desktop-up) {
        margin-bottom: $ax-space-16;
      }
    }

    &--medium {
      margin-bottom: $ax-space-16;

      @include mixins.for-size(desktop-up) {
        margin-bottom: $ax-space-32;
      }
    }

    &--large {
      margin-bottom: $ax-space-32;

      @include mixins.for-size(desktop-up) {
        margin-bottom: $ax-space-48;
      }
    }

    &--xlarge {
      margin-bottom: $ax-space-64;

      @include mixins.for-size(desktop-up) {
        margin-bottom: $ax-space-80;
      }
    }
  }
}

.spacing {
  &-vertical {
    &--small {
      margin-top: $ax-space-8;
      margin-bottom: $ax-space-8;

      @include mixins.for-size(desktop-up) {
        margin-top: $ax-space-16;
        margin-bottom: $ax-space-16;
      }
    }

    &--medium {
      margin-top: $ax-space-16;
      margin-bottom: $ax-space-16;

      @include mixins.for-size(desktop-up) {
        margin-top: $ax-space-32;
        margin-bottom: $ax-space-32;
      }
    }

    &--large {
      margin-top: $ax-space-32;
      margin-bottom: $ax-space-32;

      @include mixins.for-size(desktop-up) {
        margin-top: $ax-space-48;
        margin-bottom: $ax-space-48;
      }
    }

    &--xlarge {
      margin-top: $ax-space-64;
      margin-bottom: $ax-space-64;

      @include mixins.for-size(desktop-up) {
        margin-top: $ax-space-80;
        margin-bottom: $ax-space-80;
      }
    }
  }
}

.agreement-wrapper {
  height: 42px;
  min-width: 36px;
  width: fit-content;
  padding: 0$ax-space-20;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;

  &--green {
    background-color: #ccf1d6;
  }

  &--xsmall {
    height: 28px;
    padding: 0$ax-space-8;
  }
}

.read-more {
  width: 100%;

  button {
    width: 100%;
    align-self: center;
    color: $ax-accent-800;
  }

  button:hover {
    color: $ax-accent-800;
  }
}

.file-container {
  display: flex;
  gap: $ax-space-4;

  &__with-date {
    padding: 1px 0;
    display: flex;
    flex-direction: column;
  }
}

.document-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: $ax-space-8;
  padding-left: $ax-space-8;
}

/*.video-list {
  padding: 0;

  li {
    padding: $ax-space-16;
    background-color: #ffffff;
    box-shadow: $a-shadow-xsmall;
    border-radius: $ax-radius-4;
    width: 600px;
    height: 500px;
  }
}*/

.about-us-page {
  width: 100%;
  height: 100%;
  background-color: $ax-brand-blue-100;

  &__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: $ax-space-32$ax-space-16;

    @include mixins.for-size(tablet-up) {
      padding: $ax-space-48$ax-space-16;
    }

    @include mixins.for-size(desktop-up) {
      padding: $ax-space-48 0;
    }
  }

  article {
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }
}

.text-line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;

  overflow: hidden;
}

.printable-version {
  &__post-title {
    width: 12rem;
    font-size: $ax-font-size-medium;
  }
}

@media print {
  .nav,
  .nav-bunn,
  .hide-print,
  ._hj-widget-container {
    display: none;
  }

  #survey_988539 {
    display: none;
  }

  @page {
    size: landscape;
  }
}

@media screen {
  .printable-version {
    display: none;
  }
}

.skiplink {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  z-index: 1001;

  &:focus,
  &:active {
    clip: auto;
    height: 2.625rem;
    width: 13rem;
    padding: 0.8rem;
    margin: 0;
    overflow: visible;
    position: absolute;
  }

  &:focus {
    outline: none;
    color: white;
    text-decoration: none;
    background-color: var(--ax-border-focus);
    box-shadow: 0 0 0 2px var(--ax-border-focus);
  }
}
