@use './_mixins';

@import '@navikt/ds-css';
@import '@navikt/ds-tokens/dist/tokens';
@import './compare-menu.scss';
@import './compare-page.scss';
@import './comparing-table.scss';
@import './filter-input.scss';
@import './home-page.scss';
@import './mobile-overlay';
@import './not-found-page';
@import './product-card.scss';
@import './search.scss';

html,
body {
  display: flex;
  flex-direction: column;
  margin: 0;
  height: 100%;
  min-height: 100%;
}

main {
  flex: auto;
}

details {
  > summary {
    display: flex;
    gap: $a-spacing-1;
    list-style: none;
    padding: $a-spacing-1 0;
    transition: margin 150ms ease-out;
    font-weight: $a-font-weight-bold;
    cursor: pointer;
    user-select: none;

    .chevron-wrapper {
      display: grid;
      align-self: center;
      place-content: center;
      border-radius: $a-border-radius-medium;
      height: $a-spacing-6;
      width: $a-spacing-6;

      svg {
        transition: transform 200ms ease-in-out;
      }
    }

    &::marker,
    &::-webkit-details-marker {
      display: none;
    }

    &:hover {
      text-decoration: underline;
      text-decoration-thickness: 2px;
      text-decoration-color: $a-text-default;

      .chevron-wrapper {
        background-color: $a-surface-neutral-subtle-hover;
      }
    }

    &:focus {
      outline: none;
    }

    &:focus-visible {
      box-shadow: $a-shadow-focus;
      border-radius: $a-border-radius-medium;
    }
  }

  &.spacing {
    margin-bottom: $a-spacing-2;
  }

  > div {
    box-sizing: border-box;
    margin-bottom: $a-spacing-5;
    padding-left: $a-spacing-7;
  }

  &[open] > summary {
    margin-bottom: $a-spacing-3;

    .chevron-wrapper {
      svg {
        transform: rotate(180deg);
      }
    }
  }
}

.main-header {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: $a-gray-50;

  h1 {
    text-align: center;
    font-weight: 400;
    margin: $a-spacing-5 0;
  }
}

.nav-topp {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: inset 0 -1px 0 $a-gray-300;

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    padding: 0 $a-spacing-5;
    text-align: center;

    @include mixins.for-size(tablet-up) {
      justify-content: unset;
    }

    ul {
      display: none;

      @include mixins.for-size(tablet-up) {
        display: flex;
      }
    }
  }

  &__menu-button {
    margin: $a-spacing-3 0;

    @include mixins.for-size(tablet-up) {
      display: none;
    }
  }

  &__menu-content {
    display: none;
    width: 100%;
    max-width: 1200px;
    padding: 0 $a-spacing-5;
    margin-bottom: $a-spacing-3;

    &.open {
      display: block;

      @include mixins.for-size(tablet-up) {
        display: none;
      }
    }
  }

  img {
    margin-right: $a-spacing-5;
  }

  h1 {
    margin: 0;
    font-size: 1em;
  }

  ul {
    gap: $a-spacing-5;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .page-link {
    display: block;
    text-decoration: none;
    padding: $a-spacing-3 0;
    border-bottom: 4px solid $a-transparent;

    @include mixins.for-size(tablet-up) {
      padding: $a-spacing-5 $a-spacing-1;
    }

    &:focus-visible {
      background-color: transparent;
      border-color: transparent;
      border-radius: $a-border-radius-medium;
      box-shadow: $a-shadow-focus;
      outline: none;
    }

    &:hover:not(.page-link--active) {
      @include mixins.for-size(tablet-up) {
        border-bottom: 4px solid $a-border-subtle-hover;
      }
    }

    &--active {
      font-weight: bolder;
      text-decoration: underline;
      text-decoration-thickness: 3px;

      @include mixins.for-size(tablet-up) {
        text-decoration: unset;
        border-bottom: 4px solid $a-border-focus;
      }
    }
  }
}

.nav-bunn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: $a-spacing-16 $a-spacing-5;
  background: $a-deepblue-800;

  &__content {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1200px;
  }

  &__info {
    display: flex;
    flex-direction: row;
    gap: $a-spacing-4;
    width: 100%;
    max-width: 1200px;
    color: $a-gray-200;

    a {
      color: $a-white;
      --ac-link-active-text: black;
      --ac-link-active-bg: white;
      --ac-link-focus-text: black;
      --ac-link-focus-bg: white;
    }

    div {
      display: flex;
      flex-direction: column;
      gap: $a-spacing-2;
    }
  }
}

.back-button {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  padding: $a-spacing-5;
}

.main-wrapper {
  max-width: 1200px;
  padding: $a-spacing-4;
  margin: 0 auto $a-spacing-4;

  @include mixins.for-size(desktop-up) {
    padding: $a-spacing-5;
    margin-bottom: $a-spacing-5;
  }
}

.flex {
  display: flex;

  &--column {
    flex-direction: column;
  }

  &--row {
    flex-direction: row;

    @include mixins.for-size(phone-only) {
      flex-direction: column;
    }
  }

  &--space-between {
    justify-content: space-between;
  }
}

.flex-column-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include mixins.for-size(desktop-up) {
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
  }
}

.visually-hidden {
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  position: absolute !important;
  white-space: nowrap !important;
  border: 0 !important;
}

.visually-hidden-focusable {
  &:not(:focus):not(:focus-within) {
    @extend .visually-hidden;
  }
}

.spacing {
  &-top {
    &--small {
      margin-top: $a-spacing-2;
    }
    &--medium {
      margin-top: $a-spacing-4;
    }
    &--large {
      margin-top: $a-spacing-8;
    }
    &--xlarge {
      margin-top: $a-spacing-16;
    }
  }
}

.spacing {
  &-bottom {
    &--small {
      margin-bottom: $a-spacing-2;
    }
    &--medium {
      margin-bottom: $a-spacing-4;
    }
    &--large {
      margin-bottom: $a-spacing-8;
    }
    &--xlarge {
      margin-bottom: $a-spacing-16;
    }
  }
}

.max-width {
  max-width: 1200px;
  margin: auto;
  padding-left: $a-spacing-3;
  padding-right: $a-spacing-3;

  @include mixins.for-size(desktop-up) {
    padding-left: $a-spacing-6;
    padding-right: $a-spacing-6;
  }
}

.icon-wrapper {
  width: 50px;
  min-width: 50px;
  height: 50px;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  justify-content: center;
  align-items: center;

  &--small {
    width: 40px;
    min-width: 40px;
    height: 40px;
  }

  &--green {
    background-image: url('/assets/icons/agreementGreen.svg');
  }

  &--grey {
    background-image: url('/assets/icons/agreementGrey.svg');
  }
}

.wip-banner {
  width: 100%;
  font-size: $a-font-size-heading-small;
  background-color: $a-surface-warning-subtle;
  border-top: 8px solid;
  border-image: repeating-linear-gradient(-64deg, #ffc166, #ffc166 10px, #00243a 0, #00243a 20px) 20;

  div {
    display: flex;
    align-items: center;
    gap: $a-spacing-3;
    max-width: 1200px;
    padding: $a-spacing-5;
    margin: 0 auto;

    p {
      max-width: 35rem;
    }

    a {
      display: unset;

      @include mixins.for-size(tablet-up) {
        display: inline-flex;
      }
    }
  }

  svg {
    display: none;

    @include mixins.for-size(tablet-up) {
      display: block;
    }
  }
}

.text-line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;

  display: -moz-box;
  -moz-box-orient: vertical;

  overflow: hidden;
}
