@use 'src/styles/mixins';

@import '@navikt/ds-tokens/dist/tokens';

.suggestion-container {
  background-color: #ece4f5;
  width: 100%;

  @include mixins.for-size(tablet-up) {
    max-width: 24rem;
  }

  .divider {
    margin-top: 2rem;
    margin-bottom: 1.5rem;
    border-bottom: 1px solid $a-border-divider;
  }

  .fetch-button {
    background: #f7f4fb;
  }

  .button-prev-next {
    height: fit-content;
    width: 40px;
  }

  .suggestion {
    margin-top: 1rem;

    .copy-button {
      padding: 2px 6px;
      border: 2px dotted #5b0d80;
      border-radius: 8px;
      background-color: #ffffff;

      p {
        font-weight: bold;
      }
    }
  }

  .no-match-info {
    background-color: #f7f4fb;
    border-color: $a-purple-400;

    .navds-alert__icon {
      color: $a-purple-600;
    }
  }
}
