@use './_mixins';

@import '@navikt/ds-tokens/dist/tokens';

.home-page {
  width: 100%;
  height: 100%;
  background-color: $a-deepblue-50;

  &__background-container {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: $a-deepblue-50;
    padding: $a-spacing-8 $a-spacing-1;

    @include mixins.for-size(tablet-up) {
      padding: $a-spacing-12 $a-spacing-1;
    }

    @include mixins.for-size(desktop-up) {
      padding-top: $a-spacing-20;
      padding-bottom: $a-spacing-12;
    }
  }

  &__search-container {
    max-width: 640px;
    display: flex;
    flex-direction: column;
    gap: $a-spacing-8;
  }

  &__heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    h1 {
      font-weight: 400;
    }

    .navds-ingress {
      max-width: 29rem;
    }
  }

  &__input {
    width: 100%;
  }
}

.about-us-page {
  width: 100%;
  height: 100%;
  background-color: $a-deepblue-50;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;

  &__content {
    max-width: 600px;
  }
}
