@import '@navikt/ds-tokens/dist/tokens';

.mobile-overlay {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 0;
  z-index: var(--z-index-dropdown-menu);

  &__header {
    box-shadow: $a-shadow-medium;
    background-color: $a-white;
    border-radius: 30px 30px 0px 0px;
    padding: $a-spacing-4 $a-spacing-6;
    border-top: 0.1px solid #80808063;
    border-bottom: 0.1px solid $a-border-divider;
    text-align: center;

    button {
      position: absolute;
      right: $a-spacing-4;
      top: $a-spacing-1;
    }
  }

  &__content {
    background-color: $a-white;
    flex: 1;
    padding: $a-spacing-3 $a-spacing-6;
    overscroll-behavior: contain;
    overflow: auto;
  }

  &__footer {
    background-color: $a-white;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: $a-white;
    padding: $a-spacing-3 $a-spacing-6;
    border-top: 1px solid $a-border-divider;
  }
}

body:has(.modal--open) {
  overflow-y: hidden;
}
