.mobile-overlay {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 0;
  z-index: 4;
  background-color: var(--a-white);

  &__header {
    background-color: var(--a-white);
    padding: var(--a-spacing-3) var(--a-spacing-6);
    border-bottom: 1px solid var(--a-border-divider);
    text-align: center;

    button {
      position: absolute;
      right: var(--a-spacing-4);
      top: var(--a-spacing-1);
    }
  }

  &__content {
    flex: 1;
    padding: var(--a-spacing-3) var(--a-spacing-6);
    overscroll-behavior: contain;
    overflow: auto;
  }

  &__footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: var(--a-white);
    padding: var(--a-spacing-3) var(--a-spacing-6);
    border-top: 1px solid var(--a-border-divider);
  }
}

body:has(.modal--open) {
  overflow-y: hidden;
}
