@use './_mixins';
@use '@navikt/ds-tokens/dist/tokens' as *;

.nav {
  display: flex;
  flex-direction: column;
}

.nav-top-container {
  position: relative;
  display: flex;
  align-content: center;
  justify-content: center;
  padding: $ax-space-16 0;
  box-shadow: inset 0 -1px 0$ax-neutral-400;
  height: 80px;
  width: 100%;

  &__content {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  &__menu-buttons-container {
    display: flex;
    align-items: center;

    button .navds-label {
      font-size: 1.25rem;
    }
  }

  &__search {
    width: 100%;
  }
}

.nav-top-container.open {
  box-shadow: none;
}

.logo {
  height: 100%;
  text-decoration: none;
  color: $ax-text-neutral;

  &:focus-visible {
    background-color: transparent;
    border-radius: $ax-radius-4;
    box-shadow: 0 0 0 3px $ax-border-focus;
    outline: none;
  }

  &__text {
    display: flex;
    flex-direction: row;
    gap: $ax-space-8;
    font-size: 1.25rem;
    font-weight: 400;
  }
}

.logo.hide {
  @include mixins.for-size(phone-only) {
    display: none;
  }
}
