@use './_mixins';

@import '@navikt/ds-tokens/dist/tokens';

.product-card-horizontal {
  &__link-content {
    display: grid;
    max-width: 25rem;
    grid-template-columns: 0.3fr 0.7fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: $a-spacing-2;
    grid-row-gap: $a-spacing-2;
    border-radius: $a-border-radius-medium;
    padding: $a-spacing-4;
    box-shadow: $a-shadow-small;
    background: white;
    text-decoration: none;
    color: $a-text-default;

    @include mixins.for-size(tablet-up) {
      height: 10rem;
      grid-template-columns: 0.2fr 0.7fr 1.3fr;
      grid-column-gap: $a-spacing-2;
    }

    &:hover :not(.icon-wrapper),
    &:focus :not(.icon-wrapper) {
      text-decoration: underline;
      color: $a-text-action;
    }
  }

  &__image-container {
    display: flex;
    justify-self: center;
    position: relative;
    width: 100%;
    height: 100%;
  }

  &__info-container {
    display: flex;
    flex-direction: column;
    grid-column-start: 1;
    grid-column-end: 3;

    @include mixins.for-size(tablet-up) {
      grid-column-start: auto;
      grid-column-end: auto;
    }
  }

  &__heading {
    white-space: nowrap;
  }

  &__product-description {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
