@use './_mixins';

@import '@navikt/ds-tokens/dist/tokens';

.product-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 10rem;
  height: 13rem;
  text-align: center;
  box-shadow: 0 3px 7px -1px rgba(#000, 0.1);
  border: 1px solid $a-border-default;
  border-radius: $a-border-radius-large;
  background-color: $a-white;

  &--fullWidth {
    width: 100%;
    min-width: 11rem;
  }

  &__link {
    outline: none;
    text-decoration: none;
    color: $a-text-default;
    font-weight: 400;

    &:hover,
    &:focus {
      text-decoration: underline;
      color: $a-text-action;
    }
  }

  .remove-button {
    align-self: flex-end;
    padding: 0;
    margin: $a-spacing-1;

    svg {
      width: 2rem;
      height: 2rem;
    }
  }

  &__image {
    display: flex;
    justify-content: center;
    width: 100%;
    position: relative;

    .image {
      width: 140px;
      height: 108px;
      position: relative;
    }
  }

  .info {
    padding: $a-spacing-1 $a-spacing-2;
    min-height: 3rem;
  }
}
