@use './_mixins';

@import '@navikt/ds-tokens/dist/tokens';

.product-info {
  width: 100%;

  &__key-information {
    display: flex;
    padding: 8px 8px;
    flex-direction: column;
    align-items: flex-start;

    border-radius: $a-border-radius-large;
    border: 1px solid rgba(0, 0, 0, 0.08);
    background: rgba(255, 255, 255, 0.5);
  }

  &__supplier-info {
    .navds-heading {
      margin-bottom: $a-spacing-2;
    }

    p {
      margin-top: 0.2rem;
      margin-bottom: 0.2rem;
    }
  }

  &__products-on-post,
  &__products-on-post-list {
    display: flex;
    gap: $a-spacing-4;
  }

  &__products-on-post-list {
    flex-wrap: wrap;
  }

  &__products-on-post {
    flex-direction: column;

    margin-top: $a-spacing-4;

    .product-card {
      .icon-wrapper {
        align-self: center;
      }
    }
  }

  &__rank {
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    background-color: $a-green-200;
    border-radius: 12px;
    margin-left: -11px;
  }

  &__top {
    background-color: $a-gray-50;
    width: 100%;
  }

  &__top-content {
    display: flex;
    flex-direction: column;
    padding: $a-spacing-10 $a-spacing-6;

    @include mixins.for-size(desktop-up) {
      flex-direction: row;
    }
  }

  &__top-right {
    @include mixins.for-size(desktop-up) {
      padding: $a-spacing-5 $a-spacing-5;
      margin-left: $a-spacing-8;
      border-left: 1px solid $a-gray-300;
    }
  }

  &__tabs {
    padding-top: $a-spacing-10;

    &__panel {
      margin-top: $a-spacing-4;
    }
  }

  &__similar-products {
    display: flex;
    flex-direction: column;
    padding-top: $a-spacing-12;

    .navds-heading {
      margin-bottom: $a-spacing-6;
    }
  }

  &__expired-propducts {
    margin-bottom: $a-spacing-6;
    margin-top: $a-spacing-6;
    max-width: 60%;
  }
}

.agreement-summary {
  display: flex;
  width: 100%;
  margin-bottom: $a-spacing-4;

  p {
    padding-left: $a-spacing-3;
  }

  &__content {
    display: 'flex';
    flex-direction: 'column';
    align-items: 'flex-start';
  }
}

.agreement-details {
  margin-top: $a-spacing-16;
  background-color: #faefee;
  width: 100%;

  &__content {
    padding-top: $a-spacing-10;
    padding-bottom: $a-spacing-10;
    display: flex;
    flex-direction: column;
    gap: $a-spacing-4;
  }
}

.photo-slider {
  .arrow {
    cursor: pointer;
    padding: 0;
    margin: 0 $a-spacing-2;
    border-radius: 50px;
  }

  .arrow:hover {
    border-radius: 50px;
  }

  .photo-and-arrow-container {
    display: flex;
  }

  .photo-container {
    position: relative;
    overflow: hidden;
    width: 400px;
    height: 300px;
    margin: $a-spacing-3;

    .div-motion {
      position: absolute;
    }

    .next-image {
      position: relative;
      width: 400px;
      height: 300px;
    }
  }

  .dots {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px 0;
  }

  .dot {
    padding: 0;
    width: 15px;
    height: 15px;
    background-color: $a-deepblue-100;
    border-radius: 50%;
    margin: 0 10px;
  }

  .dot:hover {
    cursor: pointer;
    background-color: $a-deepblue-200;
  }

  .activeDot {
    width: 15px;
    height: 15px;
    background-color: $a-deepblue-200;
    border-radius: 50%;
    margin: 0 10px;
  }

  .activeDot:hover {
    cursor: unset;
  }
}

.alert--fit-content {
  width: fit-content;
}
