@use './_mixins';

.product-info {
  width: 100%;

  &__agreement-short {
    display: flex;
    width: 100%;
    margin-bottom: var(--a-spacing-4);

    p {
      padding-left: var(--a-spacing-3);
    }

    .content {
      display: 'flex';
      flex-direction: 'column';
      align-items: 'flex-start';
    }
  }

  &__key-information {
    display: flex;
    padding: 8px 8px;
    flex-direction: column;
    align-items: flex-start;

    border-radius: var(--a-border-radius-large);
    border: 1px solid rgba(0, 0, 0, 0.08);
    background: rgba(255, 255, 255, 0.5);
  }

  &__supplier-info {
    .navds-heading {
      margin-bottom: var(--a-spacing-2);
    }

    p {
      margin-top: 0.2rem;
      margin-bottom: 0.2rem;
    }
  }

  &__agreement-long {
    margin-top: var(--a-spacing-16);
    background-color: #faefee;
    width: 100%;
  }

  &__agreement-long-content {
    padding-top: var(--a-spacing-6);
    padding-bottom: var(--a-spacing-16);
    display: flex;
    flex-direction: column;
    gap: var(--a-spacing-4);
  }

  &__products-on-post,
  &__products-on-post-list {
    display: flex;
    gap: var(--a-spacing-4);
  }

  &__products-on-post-list {
    flex-wrap: wrap;
  }

  &__products-on-post {
    flex-direction: column;

    margin-top: var(--a-spacing-4);

    .product-card {
      .icon-wrapper {
        align-self: center;
      }
    }
  }

  &__rank {
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    background-color: var(--a-green-200);
    border-radius: 12px;
    margin-left: -11px;
  }

  &__top {
    background-color: var(--a-gray-50);
    width: 100%;
  }

  &__top-content {
    display: flex;
    flex-direction: column;
    padding: var(--a-spacing-10) var(--a-spacing-6);

    @include mixins.for-size(desktop-up) {
      flex-direction: row;
    }
  }

  &__top-right {
    @include mixins.for-size(desktop-up) {
      padding: var(--a-spacing-5) var(--a-spacing-5);
      margin-left: var(--a-spacing-8);
      border-left: 1px solid var(--a-gray-300);
    }
  }

  &__tabs {
    padding-top: var(--a-spacing-10);

    &__panel {
      margin-top: var(--a-spacing-4);
    }
  }

  &__similar-products {
    display: flex;
    flex-direction: column;
    padding-top: var(--a-spacing-12);

    .navds-heading {
      margin-bottom: var(--a-spacing-6);
    }
  }

  &__expired-propducts {
    margin-bottom: var(--a-spacing-6);
    margin-top: var(--a-spacing-6);
    max-width: 60%;
  }
}

.photo-slider {
  .arrow {
    cursor: pointer;
    padding: 0;
    margin: 0 var(--a-spacing-2);
    border-radius: 50px;
  }

  .arrow:hover {
    border-radius: 50px;
  }

  .photo-and-arrow-container {
    display: flex;
  }

  .photo-container {
    position: relative;
    overflow: hidden;
    width: 400px;
    height: 300px;
    margin: var(--a-spacing-3);

    .div-motion {
      position: absolute;
    }

    .next-image {
      position: relative;
      width: 400px;
      height: 300px;
    }
  }

  .dots {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px 0;
  }

  .dot {
    padding: 0;
    width: 15px;
    height: 15px;
    background-color: var(--a-deepblue-100);
    border-radius: 50%;
    margin: 0 10px;
  }

  .dot:hover {
    cursor: pointer;
    background-color: var(--a-deepblue-200);
  }

  .activeDot {
    width: 15px;
    height: 15px;
    background-color: var(--a-deepblue-200);
    border-radius: 50%;
    margin: 0 10px;
  }

  .activeDot:hover {
    cursor: unset;
  }
}
