@use './_mixins';

@import '@navikt/ds-tokens/dist/tokens';
@import './z-index.scss';

.search {
  &__page-up-button {
    position: fixed;
    top: $a-spacing-4;
    right: $a-spacing-4;
    z-index: 2;
  }
}

.results__loader {
  margin-top: $a-spacing-12;
  align-self: center;
  justify-self: center;
}

.results__header {
  max-width: 716px;
  @include mixins.for-size(desktop-xlarge-up) {
    max-width: 100%;
  }
}
