@use './_mixins';

@import '@navikt/ds-tokens/dist/tokens';

.agreement-search-results {
  border-top: 2px solid $a-border-divider;
  padding-top: $a-spacing-2;
}

.agreement-search-results,
.agreement-search-results ol,
.search-results {
  padding-inline-start: 0;
  list-style: none;
  margin-block: 0;
}

.navds-toggle-group__wrapper {
  @include mixins.for-size(phone-only) {
    flex: 1;
    justify-items: stretch;
  }
}
