@use './_mixins';

@import '@navikt/ds-tokens/dist/tokens';

.agreement-post {
  border-top: 2px solid $a-border-divider;
}

.agreement-search-results {
  padding-inline-start: 0;
}

.search-filter {
  &__footer {
    button {
      flex: 1;
      background-color: $a-deepblue-50;
      border-radius: $a-border-radius-large;
      padding: $a-spacing-3 $a-spacing-5;
    }
  }

  .results__chips {
    margin-bottom: 0;
  }
}

.new-product-card {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  outline: 1px solid $a-border-subtle;

  &__content {
    position: relative;
  }

  &:hover {
    outline: 1px solid $a-border-action;
  }

  &__link {
    height: 2.75rem;
    outline: none;
    text-decoration: none;
    color: $a-text-default;
    font-weight: 400;
    line-height: 1.375rem;

    &:hover,
    &:focus {
      text-decoration: underline;
      color: $a-text-action;
    }

    &::after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 1;
    }
  }

  &__product-category-button.navds-button {
    background-color: $a-gray-50;
    border: 1px solid $a-border-subtle;
    border-radius: $a-border-radius-large;
    padding: $a-spacing-1 $a-spacing-1;
    text-align: start;
    z-index: 2;

    .navds-label {
      font-size: $a-font-size-small;
      line-height: 1rem;
      font-weight: 400;
    }

    &:hover {
      border: 1px solid $a-gray-800;
      background-color: $a-gray-200;
    }
  }
  // Overwrite Aksel
  .navds-checkbox--small > .navds-checkbox__label::before,
  .navds-checkbox__label::before {
    border-radius: 100px !important;
  }
  .navds-checkbox__label::before::after {
    border-radius: 100px !important;
  }

  .navds-checkbox--small .navds-checkbox__input:checked + .navds-checkbox__label > .navds-checkbox__icon {
    transform: translate(0.2rem, -8%);
  }
  .navds-checkbox__input:checked + .navds-checkbox__label::before {
    box-shadow: 0 0 0 2px var(--ac-radio-checkbox-action, var(--a-surface-action));
    background-color: #fff;
  }

  .navds-checkbox__input:checked + .navds-checkbox__label > .navds-checkbox__icon {
    color: black;
  }
}

.new-product-card.large {
  width: 225px;
  height: 335px;
  padding-top: 4px;

  .new-product-card-image-container {
    display: flex;
    justify-content: center;
    width: 100%;
    position: relative;

    .new-product-card-image {
      width: 185px;
      height: 167px;
      position: relative;
    }
  }

  .new-product-card__content {
    flex-direction: column-reverse;
  }

  @include mixins.for-size(phone-only) {
    .navds-checkbox__content {
      .navds-body-short--small {
        font-size: 14px;
        color: $a-text-subtle;
      }
    }

    .navds-checkbox__label {
      gap: 4px;
      padding-top: 4px;
    }

    .navds-checkbox__label::before {
      width: 14px;
      height: 14px;
    }

    .navds-checkbox__label::before::after {
      width: 14px;
      height: 14px;
    }
  }
}

.new-product-card.checked,
.new-product-card.large.checked {
  outline: 3px solid $a-text-action-selected;
}

.new-product-card.large.without-iso-button {
  height: 219px;
  width: 167px;

  @include mixins.for-size(tablet-up) {
    height: 285px;
    width: 210px;
  }

  .new-product-card-image-container {
    .new-product-card-image {
      width: 120px;
      height: 105px;

      @include mixins.for-size(tablet-up) {
        width: 170px;
        height: 160px;
      }
    }
  }
}

.new-product-card.no-picture {
  width: 225px;

  .new-product-card__link {
    height: 2.2rem;
    line-height: 1.1rem;
  }

  .new-product-card__checkbox {
    z-index: 2;
  }

  .navds-checkbox__content {
    .navds-body-short--small {
      font-size: 14px;
      color: $a-text-subtle;
    }
  }

  .navds-checkbox__label {
    gap: 4px;
    padding: 0;
  }

  .navds-checkbox__label::before {
    width: 14px;
    height: 14px;
  }

  .navds-checkbox__label::before::after {
    width: 14px;
    height: 14px;
  }
}

.navds-toggle-group__wrapper {
  @include mixins.for-size(phone-only) {
    flex: 1;
    justify-items: stretch;
  }
}
