@use './_mixins';

@import '@navikt/ds-tokens/dist/tokens';

.agreement-post {
  border-top: 2px solid $a-border-divider;
}

.agreement-search-results,
.search-results {
  padding-inline-start: 0;
  list-style: none;
}

.navds-toggle-group__wrapper {
  @include mixins.for-size(phone-only) {
    flex: 1;
    justify-items: stretch;
  }
}
