@use './_mixins';

@use '@navikt/ds-tokens/dist/tokens' as *;
@use './z-index.scss';

.search {
  &__page-up-button {
    position: fixed;
    top:$ax-space-16;
    right:$ax-space-16;
    z-index: 2;
  }
}

.results__loader {
  margin-top:$ax-space-48;
  align-self: center;
  justify-self: center;
}

.results__header {
  max-width: 716px;
  @include mixins.for-size(desktop-xlarge-up) {
    max-width: 100%;
  }
}

.search-wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.popover {
  width: 100%;
  max-height: 400px;
  overflow-y: auto;
  border: 1px solid var(--ac-combobox-list-border-color, var(--ax-border-neutral-subtle));
  z-index: var(--z-index-popover);

  .popover-content {
    margin: 0;
    padding: 0;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  li {
    display: flex;
    align-items: center;
    background-color: var(--ac-combobox-list-item-bg, var(--ax-bg-default));
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    button {
      flex: 2;
      display: flex;
      gap: 0.5rem;
      border: none;
      margin: 0;
      padding: var(--ax-space-8);
      width: auto;
      text-align: left;
      background: transparent;
      color: inherit;
      font: inherit;
      line-height: normal;
      cursor: pointer;
      outline: inherit;
      &:hover {
        cursor: pointer;
        background-color: var(--ac-combobox-list-item-hover-bg, var(--ax-bg-neutral-moderate-hoverA));
        border-left: 4px solid var(--ac-combobox-list-item-hover-border-left, var(--ax-border-neutral-strong));
        padding-left: calc(var(--ax-space-12) - 4px);
      }
      &:focus {
        background-color: var(--ac-combobox-list-item-hover-bg, var(--ax-bg-neutral-moderate-hoverA));
        border-left: 4px solid var(--ac-combobox-list-item-hover-border-left, var(--ax-border-neutral-strong));
      }
    }

    &:last-child {
      border-top: 1px solid var(--ax-border-neutral-subtle);
    }
  }
}
