@use './_mixins';

@use '@navikt/ds-tokens/dist/tokens' as *;

.variants-table-common {
  overflow: auto;
  width: fit-content;
  min-width: 50%;

  table {
    border-collapse: separate;
    border-spacing: 0;
  }

  tr > th:first-child,
  tr > td:first-child {
    position: sticky;
    left: 0;
    width: 250px;
    z-index: 1;
  }

  tbody th {
    border-right: 1px solid $a-bg-subtle;
  }

  .navds-table__header-cell,
  .navds-table__data-cell {
    padding: $a-spacing-3;
  }

  .navds-table__data-cell {
    max-width: 13rem;
  }
}
