.heading {
  color: var(--ax-brand-blue-300);
  margin-block: 0 var(--ax-space-8);
}

.footerLinks {
  columns: 22rem 3;
}

.footerLinkGroup {
  break-inside: avoid;
}

.footerLinkGroup:not(:last-child) {
  margin-bottom: var(--ax-space-32);
}
