@use 'src/styles/_mixins';

@use '@navikt/ds-tokens/dist/tokens' as *;

.statusRow {
  th {
    border-bottom: none;
  }
}

.techDataGroupHeader {
  background-color: $ax-bg-neutral-soft;

  th {
    background-color: $ax-bg-neutral-soft !important;
  }
}

.techDataGroup {
  border: 1px solid $ax-border-neutral-subtleA;
  border-bottom: none;
  border-top: none;
}

.stickyTable {
  position: sticky;
  top: 0;
  z-index: 3;
  background: white;
}

.expandTableButton {
  width: 100%;
  padding: 12px 8px;
  border-bottom: 1px solid $ax-border-neutral-subtleA;
  border-radius: 0;
  justify-content: start;
  color: black;
  span {
    width: 100%;
  }
  svg {
    width: 24px;
    height: 24px;
  }
}

.variantsTable {
  //width: 100%;

  table {
    border-collapse: separate;
    border-spacing: 0;
  }

  th {
    font-weight: normal;
  }

  tr > th:nth-child(n + 1),
  tr > td {
    width: 190px;
    //display: inline-block;
  }

  tr {
    display: flex;
    //align-items: stretch;
  }

  tr > td:last-child {
    flex: 1;
  }

  table thead th:first-child {
    position: sticky;
    left: 0;
    z-index: 2;
  }

  * {
    font-size: 1rem;
  }

  thead tr {
    vertical-align: bottom;
  }

  thead tr > th:first-child {
    vertical-align: bottom;
  }
}

.selectedColumn {
  border-left: #0056b4 dashed 1px;
  border-right: #0056b4 dashed 1px;
  background-color: #f1f5f9;
  font-weight: 500;
}
