.alternativeProductContainer {
  width: fit-content;
  position: relative;
  background-color: white;
}

.productContainer {
  width: 366px;
}

.productProperties {
  max-width: 200px;
}

.imageWrapper {
  width: 145px;
  height: 145px;
  position: relative;
}
