.alternativeProductContainer {
  border: 1px solid #909090;
  border-radius: 4px;
  width: fit-content;
  position: relative;
  background-color: white;
}

.productContainer {
  width: 410px;
}

.productProperties {
  max-width: 200px;
}

.imageWrapper {
  width: 145px;
  height: 145px;
  position: relative;
}
