@use 'src/styles/mixins';

@use '@navikt/ds-tokens/dist/tokens' as *;
@use 'src/styles/_variables' as *;

.container {
  padding-bottom: 32px;
}

.headerColor {
  color: $ny-nav-purple-dark;
}

.notInAgreementColor {
  color: #525962;
}

.search {
  max-width: 400px;
}

.link {
  color: black;
  font-weight: 600;
}

.expiredTag {
  width: fit-content;
}

.modalContainer {
  display: flex;
  flex-direction: column;
  gap: $a-spacing-8;
  padding-top: $a-spacing-4;
  padding-bottom: $a-spacing-4;

  @include mixins.for-size(tablet-up) {
    padding-top: $a-spacing-8;
    padding-bottom: $a-spacing-8;
  }
  @include mixins.for-size(desktop-up) {
    padding-top: $a-spacing-14;
    padding-bottom: $a-spacing-14;
  }
}

.alternativeProductContainer {
  border: 1px solid #909090;
  border-radius: 4px;
  width: fit-content;
  position: relative;
}

.productContainer {
  width: 410px;
}

.productProperties {
  max-width: 200px;
}

.imageWrapper {
  width: 145px;
  height: 145px;
  position: relative;
}

.locationInfoContainer {
  padding: 0 1.125rem 2rem 1.125rem;
  align-self: stretch;
  list-style: none;
}

.locationInfo {
  display: flex;
  height: 5rem;
  padding: 0.75rem 0.5rem;
  justify-content: space-between;
  align-items: flex-start;
  border-radius: 0.25rem;
  border: 1px solid $a-border-divider;
}

.selectWarehouse {
  width: 220px;
}

.toggledButton {
  color: #fff;
  background-color: $a-surface-action-selected-hover;
  box-shadow: none;
  z-index: 2;

  &:hover {
    color: white;
    background-color: $a-surface-action-selected-hover;
  }
}

.editMenu {
  position: absolute;
  right: 10px;
  top: 10px;
}

@keyframes highlight-group-pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(0, 103, 197, 0.35);
    background-color: #f5f9ff;
  }
  50% {
    box-shadow: 0 0 0 6px rgba(0, 103, 197, 0);
    background-color: #e0f0ff;
  }
  100% {
    box-shadow: 0 0 0 0 rgba(0, 103, 197, 0);
    background-color: inherit;
  }
}

.highlightGroup {
  animation: highlight-group-pulse 1.5s ease-out;
}
