.definition-list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;

  > * {
    padding-top: 0.5em;
  }
  dt {
    width: 35%;
    font-weight: bold;
    text-align: left;
  }
  dd {
    width: 55%;
    padding-left: 1em;
    margin-left: 0px;
  }
}
