@use 'styles/mixins';

.produkt-info > * {
  max-width: 1200px;
  margin: auto;
}

.produkt-info {
  width: 100%;

  h1 {
    font-size: var(--a-font-size-heading-2xlarge);
    letter-spacing: -0.01em;
    line-height: var(--a-font-line-height-heading-2xlarge);
    margin: 0;
  }

  p {
    margin-bottom: var(--a-spacing-4);
  }

  .bilde-og-beskrivelse {
    padding: var(--a-spacing-12) var(--a-spacing-2);
    padding-top: var(--a-spacing-16);
    position: relative;
    display: flex;
    flex-direction: column;

    @include mixins.for-size(tablet-up) {
      flex-direction: row;
    }
  }

  .bilde-og-beskrivelse::before,
  .bilde-og-beskrivelse::after {
    bottom: 0;
    content: '';
    position: absolute;
    top: 0;
    width: 100vw;
  }

  .bilde-og-beskrivelse::before {
    left: 100%;
  }

  .bilde-og-beskrivelse::after {
    right: 100%;
  }

  .bilde-og-beskrivelse,
  .bilde-og-beskrivelse::after,
  .bilde-og-beskrivelse::before {
    background-color: var(--a-gray-50);
  }

  .produkt-beskrivelse {
    padding: var(--a-spacing-5) var(--a-spacing-5);
    margin-left: var(--a-spacing-5);
    border-left: 1px solid var(--a-gray-300);

    .leverandør {
      margin-top: var(--a-spacing-5);
      h2 {
        font-size: var(--a-font-size-heading-xlarge);
        letter-spacing: -0.008em;
        line-height: var(--a-font-line-height-heading-xlarge);
        margin: 0;
      }
      p {
        margin-top: 0.2rem;
        margin-bottom: 0.2rem;
      }
    }
  }

  .product-accordion {
    margin-top: var(--a-spacing-10);
    margin-bottom: var(--a-spacing-10);
    .info-accordion {
      max-width: 500px;
    }
  }

  .similar-products {
    display: flex;
    border-top: 1px solid var(--a-gray-300);
    margin-top: var(--a-spacing-10);
    margin-bottom: var(--a-spacing-10);

    .similar-products-slider {
      display: flex;
      flex-direction: row;
    }

    .similar-products-container {
      display: flex;
      flex-direction: row;
    }

    .similar-product {
      background-color: var(--ac-panel-bg, var(--a-surface-default));
      padding: var(--a-spacing-4);
      border-radius: var(--a-border-radius-small);
      border: 1px solid transparent;
      margin: 15px;
      width: 200px;
      min-height: 200px;
      border-color: var(--ac-panel-border, var(--a-border-default));
    }
  }
}
