.cookieBanner {
  background-color: var(--ax-bg-accent-strong);
  border-radius: var(--ax-radius-8);
  display: flex;
  height: fit-content;
  inset: 2rem;
  margin: auto auto 0 0;
  position: fixed;
  width: 41rem;
  z-index: 1000;

  @media (max-width: 768px) {
    inset: 0;
    margin: auto 1rem 1rem 1rem;
    width: calc(100% - 2rem);
  }
}

.infoIcon {
  margin: 0.4rem 0 0 0;
  @media (max-width: 768px) {
    display: none;
  }
}

.content {
  margin: 2rem;
  display: grid;
  grid-template-columns: auto 1fr; /* Two equal-width columns */
  gap: 10px;
  color: var(--ax-bg-default);

  @media (max-width: 768px) {
    gap: 0;
  }

  a {
    color: var(--ax-bg-default);
    text-decoration: underline;
  }
}

.textContainer {
  margin: 0 var(--ax-space-32) var(--ax-space-32) 0;
}

.buttonContainer {
  display: flex;
  justify-content: flex-start;
  gap: var(--ax-space-16);
  align-items: center;

  @media screen and (max-width: 768px) {
    flex-direction: column;
    > * {
      width: 100%;
    }
  }
}

.button {
  background-color: var(--ax-bg-default) !important;
  color: var(--ax-accent-600) !important;
}
