@use 'src/styles/mixins';

@import '@navikt/ds-tokens/dist/tokens';

.home-page {
  padding-top: $a-spacing-12;

  @include mixins.for-size(tablet-up) {
    padding-top: $a-spacing-24;
  }

  &__heading {
    max-width: 530px;
    margin: $a-spacing-8 0;

    h1 {
      font-weight: 400;
    }

    @include mixins.for-size(tablet-up) {
      gap: $a-spacing-10;
      margin: $a-spacing-16 0;
      margin-bottom: $a-spacing-10;
    }
  }

  &__link {
    color: var(--nav-gra-nav-mork-gra, #262626);
    font-size: 1.25rem;
    line-height: 1.75rem;
    text-decoration-line: underline;
    text-underline-offset: 2px;
  }

  &__link:active {
    background-color: transparent;
  }

  &__link:hover {
    text-decoration: none;
  }

  &__agreement-link {
    display: flex;
    width: 100%;
    height: 125px;
    align-items: stretch;
    border-radius: $a-border-radius-large;
    background: #fff;
    box-shadow: $a-shadow-xsmall;

    @include mixins.for-size(phone-up) {
      width: 299px;
    }

    a {
      padding: $a-spacing-4 $a-spacing-5;
      width: 100%;
      justify-content: flex-start;
    }

    :hover {
      border-radius: $a-border-radius-large;
      box-shadow: $a-shadow-small;
      text-decoration: none;
    }
  }

  &__links {
    @include mixins.for-size(desktop-up) {
      padding-left: 100px;
    }
  }

  &__news {
    max-width: 690px;
    width: 100%;
  }
}

.about-us-page {
  width: 100%;
  height: 100%;
  background-color: $a-deepblue-50;

  &__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: $a-spacing-8 $a-spacing-4;

    @include mixins.for-size(tablet-up) {
      padding: $a-spacing-12 $a-spacing-4;
    }

    @include mixins.for-size(desktop-up) {
      padding: $a-spacing-12 0;
    }
  }

  article {
    max-width: 550px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }
}

.polygon-shape {
  display: none;

  @include mixins.for-size(tablet-up) {
    display: block;
    position: absolute;
    z-index: 1;
    top: -110px;
    right: 0;
    width: 15vw;
    max-width: 200px;
    height: 90vw;
    background-color: #edac9e;
    clip-path: polygon(100% 0, 100% 100%, 8% 20%, 100% 0);
  }

  @include mixins.for-size(desktop-up) {
    top: -200px;
  }
}
