@use 'src/styles/mixins';

@import 'src/styles/_variables';
@import '@navikt/ds-tokens/dist/tokens';
@import 'src/styles/local-fonts';

.home-page {
  &__heading {
    color: $ny-nav-purple-dark;
  }

  &__finnhjelpemiddel {
    font-family: 'Source Sans 3 Bold', sans-serif;
    font-weight: 700;
  }

  &__heading-and-search-container {
    padding-top: $a-spacing-8;
    padding-bottom: $a-spacing-8;

    @include mixins.for-size(tablet-up) {
      padding-top: $a-spacing-20;
      padding-bottom: $a-spacing-20;
    }
  }

  &__icons-logo {
    border-radius: 30px;
    svg {
      color: #99185e;

      @include mixins.for-size(tablet-up) {
        width: 2.5rem;
        height: 2.5rem;
      }
    }
  }

  &__link {
    text-decoration-line: underline;
    text-underline-offset: 2px;
  }

  &__link:active {
    color: $a-text-action-selected;
    background-color: transparent;
  }

  &__link:hover {
    text-decoration: none;
  }

  &__news {
    max-width: 690px;
    width: 100%;
    background-color: $ny-nav-orange-light;
    padding: $a-spacing-6 $a-spacing-6;
    padding-bottom: $a-spacing-10;
    border-top: 6px solid $ny-nav-purple-dark;

    @include mixins.for-size(tablet-up) {
      padding: $a-spacing-8 $a-spacing-10;
    }
  }

  &__kontakt-oss {
    background-color: #f1f5f9;
    padding-bottom: 100px;
    padding-top: 100px;
  }

  &__kontakt-oss-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 100%;
    height: 64px;
    width: 64px;
  }
}

.about-us-page {
  width: 100%;
  height: 100%;
  background-color: $a-deepblue-50;

  &__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: $a-spacing-8 $a-spacing-4;

    @include mixins.for-size(tablet-up) {
      padding: $a-spacing-12 $a-spacing-4;
    }

    @include mixins.for-size(desktop-up) {
      padding: $a-spacing-12 0;
    }
  }

  article {
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }
}

.polygon-shape {
  display: none;

  @include mixins.for-size(tablet-up) {
    display: block;
    position: absolute;
    z-index: 1;
    top: -110px;
    right: 0;
    width: 15vw;
    max-width: 200px;
    height: 90vw;
    background-color: #edac9e;
    clip-path: polygon(100% 0, 100% 100%, 8% 20%, 100% 0);
  }

  @include mixins.for-size(desktop-up) {
    top: -200px;
  }
}
