@use '@navikt/ds-tokens/dist/tokens' as *;

.container {
  position: relative;
  border-radius: 0.5rem;
  border: 1px solid$ax-border-neutral;

  &:hover {
    outline: 1px solid$ax-border-accent;
  }
}

.imageWrapper {
  position: relative;
  height: 180px;
}


.link {
  color:$ax-text-neutral;
  text-decoration: underline;

  &:hover,
  &:focus {
    text-decoration: underline;
    color:$ax-text-accent-subtle;
    background-color: white;
  }

  &::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
  }
}

.compareButton {
  z-index: 2;
  box-shadow: inset 0 0 0 1px$ax-border-neutral;
  color:$ax-text-neutral-subtle;

  &:active {
    background-color:$ax-bg-accent-strong-hover;
  }
}
.compareButtonChecked {
  color: #fff;
  background-color:$ax-bg-accent-strong-hover;
  box-shadow: none;

  &:hover,
  &:active {
    background-color:$ax-bg-accent-strong-hover;
  }
}
