@use "@navikt/ds-tokens/dist/tokens" as *;

.documentList {
  list-style: none;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap:$ax-space-8;
  padding-left:$ax-space-8;
}

.fileContainer {
  display: flex;
  gap:$ax-space-4;
}
