@use '@navikt/ds-tokens/dist/tokens' as *;

.copyButton {
  border: 1px dashed #0056b4;
}

.linkButton {
  --__ac-button-padding: $a-spacing-05 $a-spacing-2;
  text-decoration: underline;
}


.partTag {
  background-color: var(--a-surface-neutral-subtle);
  border-radius: 0.25rem;
  border: 1px solid #c6c2cc;
  font-size: var(--a-font-size-medium);
  padding: 0 $a-spacing-1-alt;
}

.supplierLink {
  font-weight: $a-font-weight-bold;
}
