@use "@navikt/ds-tokens/dist/tokens" as *;

.middleContainer {

  grid-template-areas: 
    "box1 box2"
    "box3 box2"
    "box3 .";

  @media (max-width:$ax-breakpoint-md) {
    grid-template-areas: 
    "box1"
    "box2"
    "box3";
  }
}


.commonAttributes {
  th, td {
    border-bottom: 1px solid$ax-bg-neutral-soft !important;
  }
}

.boks {
  background: #F5F9FF;
  height: fit-content;
  border-radius:$ax-radius-8;
  border: 1px solid$ax-bg-neutral-soft;
}

.button {
  width: fit-content;
  --ac-button-secondary-bg: white;
}
