@use 'src/styles/mixins';

@import '@navikt/ds-tokens/dist/tokens';

.product-info {
  p {
    max-width: 550px;
  }

  .comparing-table {
    thead tr {
      background-color: $a-surface-selected;
    }

    thead tr > th:first-child {
      background-color: $a-surface-selected;
    }
    
  }

  &__key-information {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__help-text {
    display: flex;
    gap: $a-spacing-1;
  }

  &__supplier-info {
    margin-bottom: $a-spacing-1;
  }

  &__top-content {
    display: flex;
    flex-direction: column;

    @include mixins.for-size(desktop-up) {
      flex-direction: row;
    }
  }

  &__top-left {
    @include mixins.for-size(desktop-up) {
      padding: $a-spacing-5 $a-spacing-5;
    }
  }

  &__top-right {
    @include mixins.for-size(desktop-up) {
      display: flex;
      flex-direction: column;
      max-height: 450px;
    }
  }

  &__agreement-rank {
    display: flex;
    align-items: center;
    gap: $a-spacing-1;
    padding-bottom: $a-spacing-3;

    @include mixins.for-size(desktop-up) {
      padding-bottom: $a-spacing-4;
    }

    p {
      font-weight: $a-font-weight-bold;
    }
  }

  &__tabs {
    padding-top: $a-spacing-8;

    @include mixins.for-size(desktop-up) {
      padding-top: $a-spacing-1;
    }

    &__panel {
      border-bottom: 1px solid $a-border-default;
      padding: $a-spacing-4 0;
    }
  }

  &__accordion {
    padding-top: $a-spacing-10;
    padding: $a-spacing-4 0;
  }

  &__characteristics {
    padding-top: $a-spacing-8;
  }

  &__product-variants {
    display: flex;
    flex-direction: column;
    padding-top: $a-spacing-8;
  }

  &__expired-propducts {
    margin-bottom: $a-spacing-3;

    @include mixins.for-size(desktop-up) {
      margin-bottom: $a-spacing-4;
    }
  }

  &__qr-code-hidden {
    display: none;
  }

  &__qr-code-link {
    display: flex;
    width: fit-content;
    margin-top: 1rem;
  }
}

.photo-slider-small {
  .arrow {
    cursor: pointer;
    margin: 1rem;
    padding: 0;
  }

  .photo-and-arrow-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .photo-container {
    cursor: pointer;
    position: relative;
    overflow: hidden;
    width: 250px;
    height: 250px;

    @include mixins.for-size(tablet-up) {
      width: 400px;
      height: 400px;
    }

    .div-motion {
      position: absolute;
    }

    .next-image {
      position: relative;
      justify-content: center;
      width: 250px;
      height: 250px;
      background: white;

      @include mixins.for-size(tablet-up) {
        width: 400px;
        height: 400px;
      }
    }

    .next-image:hover {
      cursor: pointer;
    }
  }

  .dots {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 30px 0;
  }

  .dot {
    padding: 0;
    width: 15px;
    height: 15px;
    background-color: $a-deepblue-100;
    border-radius: 50%;
    margin: 0 10px;
  }

  .dot:hover {
    cursor: pointer;
    background-color: $a-deepblue-200;
  }

  .dot:disabled {
    width: 18px;
    height: 18px;
    background-color: $a-deepblue-400;
    border-radius: 50%;
    margin: 0 10px;
    opacity: 1;
  }

  .dot:disabled:hover,
  .dot:disabled:focus {
    cursor: not-allowed;
  }
}

.agreement-summary {
  display: flex;
  width: 100%;
  margin-bottom: $a-spacing-4;

  p {
    padding-left: $a-spacing-3;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}

.agreement-details {
  margin-top: $a-spacing-16;
  background-color: #faefee;

  &__content {
    display: flex;
    flex-direction: column;
    gap: $a-spacing-4;
    padding-top: $a-spacing-10;
    padding-bottom: $a-spacing-10;
  }

  &__agreement-link {
    .link {
      display: flex;
      align-items: center;
      text-decoration: none;
    }
  }

  &__products-on-post,
  &__products-on-post-list {
    display: flex;
    gap: $a-spacing-4;
  }

  &__products-on-post-list {
    flex-wrap: wrap;
  }

  &__products-on-post {
    flex-direction: column;

    margin-top: $a-spacing-4;
  }
}

.product-page-section {
  &__container {
    padding: $a-spacing-8 $a-spacing-4;
  }

  &__yellow-background {
    background: #fff9f0;
  }

  &__blue-background {
    background: $a-deepblue-50;
  }

  &__content {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  &__card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    max-width: 51rem;
  }
}

.picture-modal {
  width: 100vw;
  height: 100vh;

  @include mixins.for-size(tablet-up) {
    max-height: 90% !important;
    max-width: 90% !important;
  }

  &__modal-body {
    display: flex;
    flex: 2;
    flex-direction: column;
    padding: 0;
    height: 90%;
    width: 100%;

    @include mixins.for-size(tablet-up) {
      justify-content: space-between;
    }
  }

  &__photo-and-arrows-container {
    width: 100%;
    height: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
  }

  &__image-container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;

    div {
      width: 100%;

      img {
        position: relative !important;
        border-radius: var(--a-border-radius-medium);
        object-fit: contain;
      }
    }
  }

  &__arrow-button {
    padding: 0;
    flex: 0;
    cursor: pointer;
    color: black;

    &:hover,
    &:focus {
      background: var(--a-deepblue-800);
      color: white;
      transition: 0.3s;
    }
  }

  &__number-of-total {
    @include mixins.for-size(tablet-up) {
      display: none;
    }

    display: flex;
    justify-content: center;
    font-size: var(--a-font-size-large);
  }

  &__preview-container {
    @include mixins.for-size(phone-only) {
      display: none;
    }

    @media (max-height: 500px) {
      display: none;
    }
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
    border-top: rgba(0, 0, 0, 0.1);
    padding: 2rem 1rem;
    background-color: #edac9e;
  }

  &__thumbnail-image-container {
    height: 80%;
    width: 150px !important;
    cursor: pointer;
    position: relative !important;
    border-radius: var(--a-border-radius-medium);
    background: white;

    &[data-active] {
      height: 100%;
      cursor: not-allowed;
      box-shadow: var(--a-shadow-medium);
      width: 170px !important;
    }

    img {
      position: relative !important;
      border-radius: var(--a-border-radius-medium);
      max-height: 100px !important;
      object-fit: contain;
    }
  }
}
