@use '@navikt/ds-tokens/dist/tokens' as *;

.container {
  position: relative;
}

.imageWrapper {
  position: relative;
  width: 100px;
  height: 100px;
}

.productSummary {
  padding:$ax-space-8 0 0 0;
}

.link {
  color:$ax-text-neutral;
  text-decoration: underline;

  &:hover,
  &:focus {
    text-decoration: underline;
    color:$ax-text-accent-subtle;
    background-color: white;
  }
}

.copyButton {
  position: relative;
  z-index: 0;
  border: 1px dashed #0056b4;
}

.textColumn {
  min-width: 0;
  flex: 1;
}
