@use '@navikt/ds-tokens/dist/tokens' as *;

.copyButton {
  border: 1px dashed #0056b4;
}

.linkButton {
  --__ac-button-padding:$ax-space-2$ax-space-8;
  text-decoration: underline;
}


.partTag {
  background-color: var(--ax-bg-neutral-soft);
  border-radius: 0.25rem;
  border: 1px solid #c6c2cc;
  font-size: var(--ax-font-size-medium);
  padding: 0$ax-space-6;
}

.supplierLink {
  font-weight:$ax-font-weight-bold;
}
