@use 'src/styles/mixins';

@import '@navikt/ds-tokens/dist/tokens';

.product-info {
  padding-bottom: 2.5rem;

  .comparing-table {
    thead tr {
      background-color: $a-surface-selected;
    }

    thead tr > th:first-child {
      background-color: $a-surface-selected;
      z-index: 2;
    }
  }

  &__heading-container {
    display: flex;
    align-items: baseline;
    gap: $a-spacing-2;
  }

  &__key-information {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: $a-spacing-2;
    border: 1px solid $a-border-subtle;
    border-radius: $a-border-radius-large;
  }

  &__supplier-info {
    margin-bottom: $a-spacing-1;
  }

  &__top-content {
    display: flex;
    flex-direction: column;

    @include mixins.for-size(desktop-up) {
      flex-direction: row;
      padding: $a-spacing-10 $a-spacing-6;
    }
  }

  &__top-left {
    @include mixins.for-size(desktop-up) {
      padding: $a-spacing-5 $a-spacing-5;
      flex: 1;
    }
  }

  &__top-right {
    @include mixins.for-size(desktop-up) {
      padding: $a-spacing-5 $a-spacing-5;
      border-left: 1px solid $a-gray-300;
      flex: 1;
    }
  }

  &__agreement-rank {
    display: flex;
    align-items: center;
    gap: $a-spacing-1;

    p {
      font-weight: $a-font-weight-bold;
    }
  }

  &__tabs {
    padding-top: $a-spacing-10;

    &__panel {
      border-bottom: 1px solid $a-border-default;
      padding: $a-spacing-4 0;
    }
  }

  &__characteristics {
    padding-top: $a-spacing-8;
  }

  &__product-variants {
    display: flex;
    flex-direction: column;
    padding-top: $a-spacing-8;
  }

  &__expired-propducts {
    margin-bottom: $a-spacing-6;
    margin-top: $a-spacing-6;
  }
}

.photo-slider {
  .arrow {
    cursor: pointer;
    padding: 0;
    margin: 0 $a-spacing-2;
    border-radius: 50px;
  }

  .arrow:hover {
    border-radius: 50px;
  }

  .photo-and-arrow-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .photo-container {
    position: relative;
    overflow: hidden;
    width: 400px;
    height: 300px;
    margin: $a-spacing-3;

    .div-motion {
      position: absolute;
    }

    .next-image {
      position: relative;
      width: 400px;
      height: 300px;
    }
  }

  .dots {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px 0;
  }

  .dot {
    padding: 0;
    width: 15px;
    height: 15px;
    background-color: $a-deepblue-100;
    border-radius: 50%;
    margin: 0 10px;
  }

  .dot:hover {
    cursor: pointer;
    background-color: $a-deepblue-200;
  }

  .dot:disabled {
    width: 15px;
    height: 15px;
    background-color: $a-deepblue-200;
    border-radius: 50%;
    margin: 0 10px;
  }

  .dot:disabled:hover {
    cursor: unset;
  }
}

.agreement-summary {
  display: flex;
  width: 100%;
  margin-bottom: $a-spacing-4;

  p {
    padding-left: $a-spacing-3;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}

.agreement-details {
  width: 100%;
  margin-top: $a-spacing-16;
  background-color: #faefee;

  &__content {
    display: flex;
    flex-direction: column;
    gap: $a-spacing-4;
    padding-top: $a-spacing-10;
    padding-bottom: $a-spacing-10;
  }

  &__products-on-post,
  &__products-on-post-list {
    display: flex;
    gap: $a-spacing-4;
  }

  &__products-on-post-list {
    flex-wrap: wrap;
  }

  &__products-on-post {
    flex-direction: column;

    margin-top: $a-spacing-4;
  }

  &__product-on-post {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 10rem;
    height: 14.5rem;
    text-align: center;
    box-shadow: $a-shadow-small;
    border-radius: $a-border-radius-large;
    background-color: $a-white;

    .image-container {
      display: flex;
      padding: $a-spacing-2;
      padding-bottom: 0;
      justify-content: center;
      width: 100%;
      position: relative;

      .image {
        width: 140px;
        height: 108px;
        position: relative;
      }
    }

    .info {
      display: flex;
      flex: 1;
      flex-direction: column;
      justify-content: space-between;
      padding: $a-spacing-1 $a-spacing-2;
      padding-bottom: $a-spacing-2;

      span {
        align-self: center;
      }

      .link {
        outline: none;
        text-decoration: none;
        color: $a-text-default;
        font-weight: 400;

        &:hover,
        &:focus {
          text-decoration: underline;
          color: $a-text-action;
        }
      }
    }
  }
}
