@use "@navikt/ds-tokens/dist/tokens" as *;

.accordion {
  box-shadow: inset 0 1px 0 0$ax-bg-neutral-soft !important;
}

.accordionLast {
  box-shadow: inset 0 -1px 0 0$ax-bg-neutral-soft, inset 0 1px 0 0$ax-bg-neutral-soft !important;
}

