@use 'src/styles/mixins';

@import 'src/styles/z-index.scss';
@import '@navikt/ds-tokens/dist/tokens';

.product-page {
  p {
    max-width: 700px;
  }

  h2 {
    scroll-margin: 60px;
    width: fit-content;
  }

  @include mixins.for-size(tablet-up) {
    section:not(.product-page-bleed-section) {
      padding-left: 12px;
      padding-right: 12px;
    }

    .product-page-bleed-section > div {
      padding-left: 12px;
      padding-right: 12px;
    }
  }

  .variants-table {
    * {
      font-size: 1rem;
    }

    thead tr {
      vertical-align: bottom;
    }

    thead tr > th:first-child {
      vertical-align: bottom;
    }

    &__status-row {
      th.navds-table__header-cell {
        border-bottom: none;
        padding: 0.15rem 0.75rem;
        padding-top: 0.75rem;
      }

      .navds-tag--small {
        padding-top: 3px;
        padding-bottom: 2px;
      }

      .filter-chip__green {
        background-color: $a-surface-success-subtle;
      }
    }
  }

  &__description {
    white-space: pre-wrap;
  }

  &__help-text {
    display: flex;
    gap: $a-spacing-1;
  }

  &__photo-slider-container {
    max-height: 580px;

    @include mixins.for-size(desktop-up) {
      padding-left: $a-spacing-5;
      padding-right: $a-spacing-5;
      margin-top: $a-spacing-1;
    }
  }

  &__agreement-rank {
    display: flex;
    align-items: center;
    gap: $a-spacing-1;
    padding-bottom: $a-spacing-3;

    @include mixins.for-size(desktop-up) {
      padding-bottom: $a-spacing-4;
    }

    p {
      font-weight: $a-font-weight-bold;
    }
  }

  &__tabs {
    &__panel {
      border-bottom: 1px solid $a-border-default;
      padding: $a-spacing-4 0;
    }
  }

  &__accordion {
    padding-top: $a-spacing-10;
    padding: $a-spacing-4 0;
    margin-left: 0;
  }

  .navds-accordion__content {
    padding: 0;
  }

  &__product-variants {
    display: flex;
    flex-direction: column;
  }

  &__expired-propducts {
    margin-bottom: $a-spacing-3;

    @include mixins.for-size(desktop-up) {
      margin-bottom: $a-spacing-4;
    }
  }

  &__qr-code-hidden {
    display: none;
  }

  &__qr-code-link {
    display: flex;
    width: fit-content;
  }

  &__top-page-container {
    @include mixins.for-size(desktop-up) {
      justify-content: center;
      height: 590px;
      max-width: 1258px;
    }

    margin-top: $a-spacing-9;
  }

  &__top-page-container.not-on-agreement-or-expired {
    @include mixins.for-size(desktop-up) {
      height: 490px;
    }
  }

  &__dd-supplier-ref {
    padding-top: 0 !important;
  }

  &__nav {
    width: 100%;
    background-color: $a-deepblue-50;
    border-radius: $a-border-radius-xlarge;
    justify-content: center;
    padding: $a-spacing-5 $a-spacing-5;

    @include mixins.for-size(tablet-up) {
      padding: $a-spacing-10 $a-spacing-7;
      //position: sticky;
      //top: 0;
      //z-index: var(--z-index-cover);
    }
  }

  &__nav-button {
    background-color: #fff;
    justify-content: start;
    min-height: 60px;

    @include mixins.for-size(tablet-up) {
      padding: $a-spacing-1 $a-spacing-5;
    }

    .navds-label {
      text-align: left;
    }
  }
}

.not-on-agreement-or-expired {
  .product-page__photo-slider-container {
    max-height: 490px;
  }
}

.photo-slider-small {
  height: 390px;
  @include mixins.for-size(tablet-up) {
    height: 100%;
  }

  .navigation-bar {
    width: 100%;
    max-width: 400px;

    @include mixins.for-size(tablet-up) {
      width: 400px;
    }
  }

  .arrow {
    cursor: pointer;
    padding: 0;
  }

  .photo-container {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: $a-spacing-4 $a-spacing-2;

    @include mixins.for-size(tablet-up) {
      padding: $a-spacing-8 $a-spacing-4;
    }

    div {
      width: 100%;
      height: 100%;

      img {
        position: relative !important;
        border-radius: var(--a-border-radius-medium);
        object-fit: contain;
      }

      img:hover {
        cursor: pointer;
      }
    }
  }

  .dot {
    padding: 0;
    width: 24px;
    height: 24px;
    background-color: $a-blue-100;
    border-radius: 50%;
  }

  .dot:hover {
    cursor: pointer;
    background-color: $a-blue-200;
  }

  .dot:disabled {
    width: 24px;
    height: 24px;
    background-color: $a-blue-400;
    border-radius: 50%;
    opacity: 1;
  }

  .dot:disabled:hover,
  .dot:disabled:focus {
    cursor: not-allowed;
  }
}

.agreement-summary {
  display: flex;
  width: 100%;
  margin-bottom: $a-spacing-4;

  p {
    padding-left: $a-spacing-3;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}

.agreement-details__agreement-link {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.hms-copy-button {
  border: 1px dashed #0056b4;
}

.product-page-bleed-section {
  padding-top: $a-spacing-10;
  padding-bottom: $a-spacing-10;

  &__yellow {
    background: #fff9f0;
  }

  &__blue {
    background: $a-deepblue-50;
  }

  &__red {
    background: #faefee;
  }
}

.picture-modal {
  width: 100vw;
  height: 100vh;

  @include mixins.for-size(tablet-up) {
    max-height: 90% !important;
    max-width: 90% !important;
  }

  &__modal-body {
    display: flex;
    flex: 2;
    flex-direction: column;
    padding: 0;
    height: 90%;
    width: 100%;

    @include mixins.for-size(tablet-up) {
      justify-content: space-between;
    }
  }

  &__photo-and-arrows-container {
    width: 100%;
    height: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
  }

  &__image-container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;

    div {
      width: 100%;

      img {
        position: relative !important;
        border-radius: var(--a-border-radius-medium);
        object-fit: contain;
      }
    }
  }

  &__arrow-button {
    padding: 0;
    flex: 0;
    cursor: pointer;
    color: black;

    &:hover,
    &:focus {
      background: var(--a-deepblue-800);
      color: white;
      transition: 0.3s;
    }
  }

  &__number-of-total {
    @include mixins.for-size(tablet-up) {
      display: none;
    }

    display: flex;
    justify-content: center;
    font-size: var(--a-font-size-large);
  }

  &__preview-container {
    @include mixins.for-size(phone-only) {
      display: none;
    }

    @media (max-height: 500px) {
      display: none;
    }
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
    border-top: rgba(0, 0, 0, 0.1);
    padding: 2rem 1rem;
    background-color: #edac9e;
  }

  &__thumbnail-image-container {
    height: 80%;
    width: 150px !important;
    cursor: pointer;
    position: relative !important;
    border-radius: var(--a-border-radius-medium);
    background: white;

    &[data-active] {
      height: 100%;
      cursor: not-allowed;
      box-shadow: var(--a-shadow-medium);
      width: 170px !important;
    }

    img {
      position: relative !important;
      border-radius: var(--a-border-radius-medium);
      max-height: 100px !important;
      object-fit: contain;
    }
  }
}
