@use "@navikt/ds-tokens/dist/tokens" as *;

.middleContainer {
  
  grid-template-areas: 
    "box1 box2"
    "box3 box2"
    "box3 .";
  
  @media (max-width: $a-breakpoint-md) {
    grid-template-areas: 
    "box1"
    "box2"
    "box3";
  }
}


.commonAttributes {
  th, td {
    border-bottom: 1px solid $a-bg-subtle !important;
  }
}

.boks {
  background: #F5F9FF;
  height: fit-content;
  border-radius: $a-border-radius-large;
  border: 1px solid $a-bg-subtle; 
}

.button {
  width: fit-content;
  --ac-button-secondary-bg: white;
}

.buttonLoadMore {
  @extend .button;
  border-radius: 1px;
  align-self: center;
  box-shadow: inset 0 0 0 1px
}

.accordion {
  box-shadow: inset 0 1px 0 0 $a-bg-subtle !important;
}

.accordionLast {
  box-shadow: inset 0 -1px 0 0 $a-bg-subtle, inset 0 1px 0 0 $a-bg-subtle !important;
}
