@use "@navikt/ds-tokens/dist/tokens" as *;

.buttonLoadMore {
  align-self: center;
}

.accordion {
  box-shadow: inset 0 1px 0 0 $a-bg-subtle !important;
  padding-bottom: $a-spacing-4 !important;
}

.accordionLast {
  box-shadow: inset 0 -1px 0 0 $a-bg-subtle, inset 0 1px 0 0 $a-bg-subtle !important;
}
.chips {
  margin-right: $a-spacing-2;
  --ac-chip-toggle-bg: white;
  --ac-chip-toggle-circle-border: var(--a-border-action);
  --ac-chip-toggle-border: var(--a-border-action);
}
