@use '@navikt/ds-tokens/dist/tokens' as *;

.buttonLoadMore {
  align-self: center;
}

.accordion {
  box-shadow: inset 0 1px 0 0$ax-bg-neutral-soft !important;
  padding-bottom: $ax-space-16 !important;
}

.accordionLast {
  box-shadow:
    inset 0 -1px 0 0$ax-bg-neutral-soft,
    inset 0 1px 0 0$ax-bg-neutral-soft !important;
}

.chips {
  margin-right: 8px;
}

.chip {
  // background-color: white;
  --ac-chip-toggle-circle-border: var(--ax-border-accent);
  --ac-chip-toggle-border: var(--ax-border-accent);
}
