@use '@navikt/ds-tokens/dist/tokens' as *;

.copyButton {
  border: 1px dashed #0056b4;
}

.linkButton {
  --__ac-button-padding: $a-spacing-05 $a-spacing-2;
  text-decoration: underline;
}

.agreementTag {
  background-color: var(--a-surface-success-subtle);
  border-radius: 0.25rem;
  border: 1px solid var(--surface-success-subtle-hover, #99DEAD);
  font-size: var(--a-font-size-medium);
  padding: $a-spacing-1-alt $a-spacing-4;
}

.nonAgreementTag {
  @extend .agreementTag;
  background: var(--surface-alt-1-subtle, #E0D8E9);
  border: 1px solid var(--a-border-subtle-hover, #ECEEF0);
}

.supplierLink {
  font-weight: $a-font-weight-bold;
}
