@use "@navikt/ds-tokens/dist/tokens" as *;

.container {
  max-width: 1200px;
}

.supplierLink {
  text-decoration: none;
}

.supplierLink:hover {
  text-decoration: underline;
}

.copyButton {
  border: 1px dashed #0056b4;
}

.linkButton {
  --__ac-button-padding: $a-spacing-05 $a-spacing-2;
  text-decoration: underline;
}

.buttonContainer {
  margin-top: auto;
  padding-bottom: 11rem;
}
