@use '@navikt/ds-tokens/dist/tokens' as *;

.mobileOverlay {
  border-radius: 30px 30px 0 0;
  
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  height: 85%;
  
  max-width: 100%;
  
  justify-content: space-between;
  
  &__header {
    border-bottom: 0.1px solid$ax-border-neutral-subtle;
    text-align: center;

    button {
      color:$ax-text-accent-decoration;
    }
  }

  &__content {
    flex: 1;
    padding-top:$ax-space-16 !important;
  }

  &__footer {
    border-top: 1px solid$ax-border-neutral-subtle;
    display: block;
    
    button {
      padding:$ax-space-8$ax-space-12;
      
      span {
        margin-left: 0!important;
      }
    }
  }
}
