@use 'src/styles/_variables' as *;

.container {
  background-color: $ny-nav-orange-light;
  border-radius: 4px;
  border: #333333 1px solid;
  position: fixed;
  bottom: 1.5rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  min-width: min(90vw, 768px);

}

.content {
  display: inline-flex;
  gap: 0.5rem;
}

.icon {
  display: inline-flex;
}

.message {
  display: inline-flex;
}

