@use '@navikt/ds-tokens/dist/tokens' as *;

.container {
  position: relative;
  border-radius: 0.5rem;
  border: 1px solid$ax-border-neutral;

  &:hover {
    outline: 1px solid$ax-border-accent;
  }
}

.imageWrapper {
  position: relative;
  width: 96px;
  height: 96px;
}

.agreementTag {
  width: 7rem;
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  z-index: 1;
}

.productSummary {
  padding:$ax-space-32 0 0 0;
  top: 2.8rem;
}

.link {
  color:$ax-text-neutral;
  text-decoration: underline;

  &:hover,
  &:focus {
    text-decoration: underline;
    color:$ax-text-accent-subtle;
    background-color: white;
  }

  &::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
  }
}
