.agreementRow {
  position: relative;
}

.favouriteIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
}

.favouriteIconMarked {
  color: #ffb703; // yellow for marked favourite
}

@media (min-width: 768px) {
  .favouriteIcon {
    position: absolute;
    left: -3rem;
  }
}
