@use 'src/styles/_variables' as *;
@use '@navikt/ds-tokens/dist/tokens' as *;

.container {

}

.newsCard {
  background: $ny-nav-orange-light;
  display: flex;
  flex-direction: column;
  max-width: 400px;
  width: 400px; // fixed width for consistency
  flex: 0 0 400px; // prevent shrinking; ensures equal width in flex row
  box-sizing: border-box;
  min-height: 0;
  border-top: 6px solid $ny-nav-purple-dark;

  @media (max-width: 600px) {
    width: 100%; 
    max-width: 100%;

  }

}

.newsCard__content {
  flex: 1;
  position: relative;
}

.newsCard__date {
  color: $a-gray-800
}

.newsCard__excerpt {
  margin: 0;
  line-height: 1.4;

  a.news-preview-link {
    color: $ny-nav-purple-dark;
    text-decoration: underline;
    font-weight: 600;
  }

  a.news-preview-link:hover,
  a.news-preview-link:focus {
    text-decoration: underline;
  }
}

.newsCard__readMore {
  margin-top: 0.5rem;
  font-weight: 600;
  align-self: flex-start;
  color: $a-text-default
}

.newsCard__readMore:hover,
.newsCard__readMore:focus {
  text-decoration: none;
}

.newsCard__dots {
  font-weight: 600;
  color: $ny-nav-purple-dark;
  margin-left: 2px;
}

.cardsWrapper {
  display: flex;
  flex-wrap: wrap; // allow wrapping when space is insufficient
  gap: 1.5rem; // ensure consistent gap instead of relying solely on HStack
}

