@use 'src/styles/_variables' as *;
@use '@navikt/ds-tokens/dist/tokens' as *;

.container {
}

.newsCard {
  background: $ny-nav-orange-light;
  display: flex;
  flex-direction: column;
  max-width: 400px;
  width: 400px; // fixed width for consistency
  flex: 0 0 400px; // prevent shrinking; ensures equal width in flex row
  box-sizing: border-box;
  min-height: 0;
  border-radius: 10px;

  @media (max-width: 600px) {
    width: 100%;
    max-width: 100%;
  }
}

.newsCard__content {
  flex: 1;
  position: relative;
}

.newsCard__date {
  color: $ax-neutral-900;
}

.newsCard__excerpt {
  margin: 0;
  line-height: 1.4;

  a.news-preview-link {
    color: $ny-nav-purple-dark;
    text-decoration: underline;
    font-weight: 600;
  }

  a.news-preview-link:hover,
  a.news-preview-link:focus {
    text-decoration: underline;
  }
}
