@use '@navikt/ds-tokens/dist/tokens' as *;

.button {
  --ac-button-tertiary-bg: #f5f9ff;
  --ac-button-border-radius: 32px;
  box-shadow: 0 0.0625rem 0.375rem rgba(0, 0, 0, 0.16);
}

.container {
  z-index: 1000;
  width: 100%;
  max-width: 1408px;
}

.closeButton {
  align-self: end;
}
