@import '../../styles/comparing-table.scss';

.compare-page {
  .comparing-table {
    max-width: none;
  }
  .product-header {
    position: relative;
    border: 1px solid var(--a-border-default);
    padding: var(--a-spacing-2);
    height: 100%;
  }

  .product-image {
    width: 150px;
    margin-top: var(--a-spacing-10);
    margin-bottom: var(--a-spacing-2);
    margin-right: auto;
    margin-left: auto;

    img {
      width: auto;
      max-width: 150px;
      height: 150px;
      margin: 0 auto;
      display: flex;
      justify-content: center;
    }
  }

  .remove-product-button {
    position: absolute;
    top: var(--a-spacing-2);
    right: var(--a-spacing-1);
  }

  .back-to-search {
    text-decoration: none;
    color: var(--a-text-default);
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: var(--a-spacing-3);
    padding: var(--a-spacing-3) var(--a-spacing-1);
    border-radius: var(--a-border-radius-small);
    border: 1px solid var(--a-border-default);
  }
}
