@use '@navikt/ds-tokens/dist/tokens' as *;

.filterButton {
  padding: 0 var(--a-spacing-3);
  --ac-button-border-radius: var(--a-border-radius-full);
  --ac-button-secondary-text: var(--a-text-default);
  border: 1px solid var(--a-surface-action);

  background: var(--Bg-Default, #FFF);
  
  box-shadow: inset 0 0 0 1px var(--ac-chip-toggle-border, var(--a-border-subtle));
  font-weight: var(--a-font-weight-regular) !important;
  
  &:hover {
    box-shadow: inset 0 0 0 1px var(--ac-chip-toggle-hover-border, var(--a-border-subtle-hover));
    background-color: var(--ac-chip-toggle-hover-bg, var(--a-surface-action-subtle-hover));
  }
}
