name: Auto-deploy to prod

on:
  push:
    branches:
      - main

jobs:
  call-workflow:
    permissions:
      contents: write
      id-token: write
      packages: write
      actions: read
    uses: navikt/mime-deploy/.github/workflows/build-deploy-nextjs.yml@v0
    with:
      NAIS_RESOURCE: .nais/nais-prod.yaml
      BUILD_ENV: prod
      IMAGE_PROXY_URL: https://finnhjelpemiddel.nav.no/imageproxy
      CDN_URL: https://finnhjelpemiddel.nav.no/imageproxy/file/
      ALTERNATIVER_BACKEND_AUDIENCE: api://prod-gcp.teamdigihot.hm-grunndata-alternativprodukter/.default
      BFF_AUDIENCE: api://prod-gcp.teamdigihot.hm-finnhjelpemiddel-bff/.default
    secrets: inherit
