name: Build check

on: [push]

jobs:
  call-workflow:
    permissions:
      contents: read
      packages: read
      actions: read
    uses: navikt/mime-deploy/.github/workflows/build-check-node.yml@v0
    with:
      NODE_VER: '20.x'
    secrets: inherit
 
