name: Manually deploy to env
run-name: Deploy ${{ github.ref_name }} to ${{ inputs.environment }}

on:
  workflow_dispatch:
    inputs:
      environment:
        type: choice
        description: Deploy to environment
        default: 'dev'
        options:
          - dev

jobs:
  call-workflow:
    permissions:
      contents: write
      id-token: write
      packages: write
      actions: read
    uses: navikt/mime-deploy/.github/workflows/build-deploy-nextjs.yml@v0
    with:
      NAIS_RESOURCE: .nais/nais-dev.yaml
      BUILD_ENV: dev
      IMAGE_PROXY_URL: https://finnhjelpemiddel.ekstern.dev.nav.no/imageproxy
      CDN_URL: https://finnhjelpemiddel.ekstern.dev.nav.no/imageproxy/file/
      ALTERNATIVER_BACKEND_AUDIENCE: api://dev-gcp.teamdigihot.hm-grunndata-alternativprodukter/.default
    secrets: inherit
