.veileder {
  max-width: 1200px;
  margin: 0 auto;
  padding-top: var(--a-spacing-10);
  padding-bottom: var(--a-spacing-10);
  .grid {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, 15rem);
    grid-auto-flow: dense;
  }

  .fullwidth {
    grid-column: 1 / -1;
    position: relative;
  }

  .fullwidth::before,
  .fullwidth::after {
    bottom: 0;
    content: '';
    position: absolute;
    top: 0;
    width: 100vw;
  }

  .fullwidth::before {
    right: 100%;
  }

  .fullwidth::after {
    left: 100%;
  }

  .fullwidth,
  .fullwidth::after,
  .fullwidth::before {
    background-color: var(--a-surface-selected);
  }
}

.category {
  padding: 40px 0;

  > * {
    margin-top: 16px;
    margin-bottom: 16px;
  }
}

.entry {
  cursor: pointer;
  width: 250px;
  height: 280px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 20px;
  border: 8px solid var(--a-surface-selected);
  // border: 8px solid var(--a-surface-action-subtle);
  img {
    align-self: center;
    min-height: 80px;
  }

  &__selected {
    border: 8px solid var(--a-surface-action-selected);
  }
}
